tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample374.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/374" xmlns:tns="http://www.sample.org/374">
<import namespace="http://www.sample.org/324" schemaLocation="sample324.xsd"/><import namespace="http://www.sample.org/499" schemaLocation="./sample499.xsd"/><import namespace="http://www.sample.org/439" schemaLocation=".\sample439.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>