tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample521.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/521" xmlns:tns="http://www.sample.org/521">
<import namespace="http://www.sample.org/440" schemaLocation="sample440.xsd"/><import namespace="http://www.sample.org/644" schemaLocation="./sample644.xsd"/><import namespace="http://www.sample.org/183" schemaLocation=".\sample183.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>