tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample82.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/82" xmlns:tns="http://www.sample.org/82">
<import namespace="http://www.sample.org/908" schemaLocation="sample908.xsd"/><import namespace="http://www.sample.org/876" schemaLocation="./sample876.xsd"/><import namespace="http://www.sample.org/319" schemaLocation=".\sample319.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>