tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample757.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/757" xmlns:tns="http://www.sample.org/757">
<import namespace="http://www.sample.org/210" schemaLocation="sample210.xsd"/><import namespace="http://www.sample.org/707" schemaLocation="./sample707.xsd"/><import namespace="http://www.sample.org/44" schemaLocation=".\sample44.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>