tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample156.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/156" xmlns:tns="http://www.sample.org/156">
<import namespace="http://www.sample.org/648" schemaLocation="sample648.xsd"/><import namespace="http://www.sample.org/636" schemaLocation="./sample636.xsd"/><import namespace="http://www.sample.org/196" schemaLocation=".\sample196.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>