tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample691.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/691" xmlns:tns="http://www.sample.org/691">
<import namespace="http://www.sample.org/240" schemaLocation="sample240.xsd"/><import namespace="http://www.sample.org/915" schemaLocation="./sample915.xsd"/><import namespace="http://www.sample.org/651" schemaLocation=".\sample651.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>