tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample796.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/796" xmlns:tns="http://www.sample.org/796">
<import namespace="http://www.sample.org/835" schemaLocation="sample835.xsd"/><import namespace="http://www.sample.org/250" schemaLocation="./sample250.xsd"/><import namespace="http://www.sample.org/311" schemaLocation=".\sample311.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>