tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample797.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/797" xmlns:tns="http://www.sample.org/797">
<import namespace="http://www.sample.org/769" schemaLocation="sample769.xsd"/><import namespace="http://www.sample.org/395" schemaLocation="./sample395.xsd"/><import namespace="http://www.sample.org/237" schemaLocation=".\sample237.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>