tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample74.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/74" xmlns:tns="http://www.sample.org/74">
<import namespace="http://www.sample.org/875" schemaLocation="sample875.xsd"/><import namespace="http://www.sample.org/215" schemaLocation="./sample215.xsd"/><import namespace="http://www.sample.org/253" schemaLocation=".\sample253.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>