tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample451.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/451" xmlns:tns="http://www.sample.org/451">
<import namespace="http://www.sample.org/162" schemaLocation="sample162.xsd"/><import namespace="http://www.sample.org/297" schemaLocation="./sample297.xsd"/><import namespace="http://www.sample.org/811" schemaLocation=".\sample811.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>