tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample903.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/903" xmlns:tns="http://www.sample.org/903">
<import namespace="http://www.sample.org/860" schemaLocation="sample860.xsd"/><import namespace="http://www.sample.org/658" schemaLocation="./sample658.xsd"/><import namespace="http://www.sample.org/226" schemaLocation=".\sample226.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>