tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample924.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/924" xmlns:tns="http://www.sample.org/924">
<import namespace="http://www.sample.org/124" schemaLocation="sample124.xsd"/><import namespace="http://www.sample.org/122" schemaLocation="./sample122.xsd"/><import namespace="http://www.sample.org/914" schemaLocation=".\sample914.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>