tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample507.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/507" xmlns:tns="http://www.sample.org/507">
<import namespace="http://www.sample.org/715" schemaLocation="sample715.xsd"/><import namespace="http://www.sample.org/99" schemaLocation="./sample99.xsd"/><import namespace="http://www.sample.org/813" schemaLocation=".\sample813.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>