tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample529.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/529" xmlns:tns="http://www.sample.org/529">
<import namespace="http://www.sample.org/143" schemaLocation="sample143.xsd"/><import namespace="http://www.sample.org/913" schemaLocation="./sample913.xsd"/><import namespace="http://www.sample.org/648" schemaLocation=".\sample648.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>