tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample659.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/659" xmlns:tns="http://www.sample.org/659">
<import namespace="http://www.sample.org/741" schemaLocation="sample741.xsd"/><import namespace="http://www.sample.org/180" schemaLocation="./sample180.xsd"/><import namespace="http://www.sample.org/556" schemaLocation=".\sample556.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>