tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample99.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/99" xmlns:tns="http://www.sample.org/99">
<import namespace="http://www.sample.org/505" schemaLocation="sample505.xsd"/><import namespace="http://www.sample.org/440" schemaLocation="./sample440.xsd"/><import namespace="http://www.sample.org/431" schemaLocation=".\sample431.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>