tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample196.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/196" xmlns:tns="http://www.sample.org/196">
<import namespace="http://www.sample.org/450" schemaLocation="sample450.xsd"/><import namespace="http://www.sample.org/48" schemaLocation="./sample48.xsd"/><import namespace="http://www.sample.org/535" schemaLocation=".\sample535.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>