tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/5" xmlns:tns="http://www.sample.org/5">
<import namespace="http://www.sample.org/646" schemaLocation="sample646.xsd"/><import namespace="http://www.sample.org/609" schemaLocation="./sample609.xsd"/><import namespace="http://www.sample.org/237" schemaLocation=".\sample237.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>