tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample383.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/383" xmlns:tns="http://www.sample.org/383">
<import namespace="http://www.sample.org/216" schemaLocation="sample216.xsd"/><import namespace="http://www.sample.org/877" schemaLocation="./sample877.xsd"/><import namespace="http://www.sample.org/799" schemaLocation=".\sample799.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>