tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample674.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/674" xmlns:tns="http://www.sample.org/674">
<import namespace="http://www.sample.org/105" schemaLocation="sample105.xsd"/><import namespace="http://www.sample.org/111" schemaLocation="./sample111.xsd"/><import namespace="http://www.sample.org/423" schemaLocation=".\sample423.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>