tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample709.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/709" xmlns:tns="http://www.sample.org/709">
<import namespace="http://www.sample.org/179" schemaLocation="sample179.xsd"/><import namespace="http://www.sample.org/297" schemaLocation="./sample297.xsd"/><import namespace="http://www.sample.org/19" schemaLocation=".\sample19.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>