tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample150.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/150" xmlns:tns="http://www.sample.org/150">
<import namespace="http://www.sample.org/61" schemaLocation="sample61.xsd"/><import namespace="http://www.sample.org/193" schemaLocation="./sample193.xsd"/><import namespace="http://www.sample.org/654" schemaLocation=".\sample654.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>