tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample303.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/303" xmlns:tns="http://www.sample.org/303">
<import namespace="http://www.sample.org/549" schemaLocation="sample549.xsd"/><import namespace="http://www.sample.org/958" schemaLocation="./sample958.xsd"/><import namespace="http://www.sample.org/344" schemaLocation=".\sample344.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>