tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample945.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/945" xmlns:tns="http://www.sample.org/945">
<import namespace="http://www.sample.org/306" schemaLocation="sample306.xsd"/><import namespace="http://www.sample.org/988" schemaLocation="./sample988.xsd"/><import namespace="http://www.sample.org/96" schemaLocation=".\sample96.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>