tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample743.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/743" xmlns:tns="http://www.sample.org/743">
<import namespace="http://www.sample.org/420" schemaLocation="sample420.xsd"/><import namespace="http://www.sample.org/168" schemaLocation="./sample168.xsd"/><import namespace="http://www.sample.org/432" schemaLocation=".\sample432.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>