tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample849.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/849" xmlns:tns="http://www.sample.org/849">
<import namespace="http://www.sample.org/342" schemaLocation="sample342.xsd"/><import namespace="http://www.sample.org/909" schemaLocation="./sample909.xsd"/><import namespace="http://www.sample.org/996" schemaLocation=".\sample996.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>