tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample949.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/949" xmlns:tns="http://www.sample.org/949">
<import namespace="http://www.sample.org/103" schemaLocation="sample103.xsd"/><import namespace="http://www.sample.org/353" schemaLocation="./sample353.xsd"/><import namespace="http://www.sample.org/951" schemaLocation=".\sample951.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>