tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample912.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/912" xmlns:tns="http://www.sample.org/912">
<import namespace="http://www.sample.org/756" schemaLocation="sample756.xsd"/><import namespace="http://www.sample.org/228" schemaLocation="./sample228.xsd"/><import namespace="http://www.sample.org/457" schemaLocation=".\sample457.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>