tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample339.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/339" xmlns:tns="http://www.sample.org/339">
<import namespace="http://www.sample.org/319" schemaLocation="sample319.xsd"/><import namespace="http://www.sample.org/620" schemaLocation="./sample620.xsd"/><import namespace="http://www.sample.org/995" schemaLocation=".\sample995.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>