tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample581.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/581" xmlns:tns="http://www.sample.org/581">
<import namespace="http://www.sample.org/905" schemaLocation="sample905.xsd"/><import namespace="http://www.sample.org/53" schemaLocation="./sample53.xsd"/><import namespace="http://www.sample.org/25" schemaLocation=".\sample25.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>