tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample951.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/951" xmlns:tns="http://www.sample.org/951">
<import namespace="http://www.sample.org/820" schemaLocation="sample820.xsd"/><import namespace="http://www.sample.org/778" schemaLocation="./sample778.xsd"/><import namespace="http://www.sample.org/677" schemaLocation=".\sample677.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>