tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample684.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/684" xmlns:tns="http://www.sample.org/684">
<import namespace="http://www.sample.org/302" schemaLocation="sample302.xsd"/><import namespace="http://www.sample.org/967" schemaLocation="./sample967.xsd"/><import namespace="http://www.sample.org/364" schemaLocation=".\sample364.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>