tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample649.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/649" xmlns:tns="http://www.sample.org/649">
<import namespace="http://www.sample.org/240" schemaLocation="sample240.xsd"/><import namespace="http://www.sample.org/15" schemaLocation="./sample15.xsd"/><import namespace="http://www.sample.org/605" schemaLocation=".\sample605.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>