tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample679.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/679" xmlns:tns="http://www.sample.org/679">
<import namespace="http://www.sample.org/304" schemaLocation="sample304.xsd"/><import namespace="http://www.sample.org/873" schemaLocation="./sample873.xsd"/><import namespace="http://www.sample.org/61" schemaLocation=".\sample61.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>