tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample897.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/897" xmlns:tns="http://www.sample.org/897">
<import namespace="http://www.sample.org/162" schemaLocation="sample162.xsd"/><import namespace="http://www.sample.org/927" schemaLocation="./sample927.xsd"/><import namespace="http://www.sample.org/494" schemaLocation=".\sample494.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>