tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample658.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/658" xmlns:tns="http://www.sample.org/658">
<import namespace="http://www.sample.org/215" schemaLocation="sample215.xsd"/><import namespace="http://www.sample.org/392" schemaLocation="./sample392.xsd"/><import namespace="http://www.sample.org/942" schemaLocation=".\sample942.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>