tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample933.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/933" xmlns:tns="http://www.sample.org/933">
<import namespace="http://www.sample.org/653" schemaLocation="sample653.xsd"/><import namespace="http://www.sample.org/508" schemaLocation="./sample508.xsd"/><import namespace="http://www.sample.org/317" schemaLocation=".\sample317.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>