tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample162.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/162" xmlns:tns="http://www.sample.org/162">
<import namespace="http://www.sample.org/977" schemaLocation="sample977.xsd"/><import namespace="http://www.sample.org/224" schemaLocation="./sample224.xsd"/><import namespace="http://www.sample.org/513" schemaLocation=".\sample513.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>