tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample315.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/315" xmlns:tns="http://www.sample.org/315">
<import namespace="http://www.sample.org/934" schemaLocation="sample934.xsd"/><import namespace="http://www.sample.org/731" schemaLocation="./sample731.xsd"/><import namespace="http://www.sample.org/378" schemaLocation=".\sample378.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>