tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample37.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/37" xmlns:tns="http://www.sample.org/37">
<import namespace="http://www.sample.org/752" schemaLocation="sample752.xsd"/><import namespace="http://www.sample.org/721" schemaLocation="./sample721.xsd"/><import namespace="http://www.sample.org/117" schemaLocation=".\sample117.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>