tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample940.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/940" xmlns:tns="http://www.sample.org/940">
<import namespace="http://www.sample.org/616" schemaLocation="sample616.xsd"/><import namespace="http://www.sample.org/723" schemaLocation="./sample723.xsd"/><import namespace="http://www.sample.org/879" schemaLocation=".\sample879.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>