tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample336.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/336" xmlns:tns="http://www.sample.org/336">
<import namespace="http://www.sample.org/897" schemaLocation="sample897.xsd"/><import namespace="http://www.sample.org/79" schemaLocation="./sample79.xsd"/><import namespace="http://www.sample.org/9" schemaLocation=".\sample9.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>