tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample879.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/879" xmlns:tns="http://www.sample.org/879">
<import namespace="http://www.sample.org/170" schemaLocation="sample170.xsd"/><import namespace="http://www.sample.org/579" schemaLocation="./sample579.xsd"/><import namespace="http://www.sample.org/235" schemaLocation=".\sample235.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>