tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample263.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/263" xmlns:tns="http://www.sample.org/263">
<import namespace="http://www.sample.org/998" schemaLocation="sample998.xsd"/><import namespace="http://www.sample.org/323" schemaLocation="./sample323.xsd"/><import namespace="http://www.sample.org/894" schemaLocation=".\sample894.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>