tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample961.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/961" xmlns:tns="http://www.sample.org/961">
<import namespace="http://www.sample.org/146" schemaLocation="sample146.xsd"/><import namespace="http://www.sample.org/667" schemaLocation="./sample667.xsd"/><import namespace="http://www.sample.org/964" schemaLocation=".\sample964.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>