tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample194.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/194" xmlns:tns="http://www.sample.org/194">
<import namespace="http://www.sample.org/913" schemaLocation="sample913.xsd"/><import namespace="http://www.sample.org/71" schemaLocation="./sample71.xsd"/><import namespace="http://www.sample.org/184" schemaLocation=".\sample184.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>