tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample573.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/573" xmlns:tns="http://www.sample.org/573">
<import namespace="http://www.sample.org/50" schemaLocation="sample50.xsd"/><import namespace="http://www.sample.org/992" schemaLocation="./sample992.xsd"/><import namespace="http://www.sample.org/558" schemaLocation=".\sample558.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>