tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample217.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/217" xmlns:tns="http://www.sample.org/217">
<import namespace="http://www.sample.org/143" schemaLocation="sample143.xsd"/><import namespace="http://www.sample.org/706" schemaLocation="./sample706.xsd"/><import namespace="http://www.sample.org/712" schemaLocation=".\sample712.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>