tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample160.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/160" xmlns:tns="http://www.sample.org/160">
<import namespace="http://www.sample.org/712" schemaLocation="sample712.xsd"/><import namespace="http://www.sample.org/854" schemaLocation="./sample854.xsd"/><import namespace="http://www.sample.org/345" schemaLocation=".\sample345.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>