tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample109.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/109" xmlns:tns="http://www.sample.org/109">
<import namespace="http://www.sample.org/987" schemaLocation="sample987.xsd"/><import namespace="http://www.sample.org/962" schemaLocation="./sample962.xsd"/><import namespace="http://www.sample.org/753" schemaLocation=".\sample753.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>