tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample638.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/638" xmlns:tns="http://www.sample.org/638">
<import namespace="http://www.sample.org/929" schemaLocation="sample929.xsd"/><import namespace="http://www.sample.org/590" schemaLocation="./sample590.xsd"/><import namespace="http://www.sample.org/39" schemaLocation=".\sample39.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>