tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample911.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/911" xmlns:tns="http://www.sample.org/911">
<import namespace="http://www.sample.org/187" schemaLocation="sample187.xsd"/><import namespace="http://www.sample.org/104" schemaLocation="./sample104.xsd"/><import namespace="http://www.sample.org/977" schemaLocation=".\sample977.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>