tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample166.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/166" xmlns:tns="http://www.sample.org/166">
<import namespace="http://www.sample.org/947" schemaLocation="sample947.xsd"/><import namespace="http://www.sample.org/432" schemaLocation="./sample432.xsd"/><import namespace="http://www.sample.org/571" schemaLocation=".\sample571.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>