tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample587.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/587" xmlns:tns="http://www.sample.org/587">
<import namespace="http://www.sample.org/594" schemaLocation="sample594.xsd"/><import namespace="http://www.sample.org/923" schemaLocation="./sample923.xsd"/><import namespace="http://www.sample.org/795" schemaLocation=".\sample795.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>