tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample144.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/144" xmlns:tns="http://www.sample.org/144">
<import namespace="http://www.sample.org/957" schemaLocation="sample957.xsd"/><import namespace="http://www.sample.org/38" schemaLocation="./sample38.xsd"/><import namespace="http://www.sample.org/883" schemaLocation=".\sample883.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>