tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample179.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/179" xmlns:tns="http://www.sample.org/179">
<import namespace="http://www.sample.org/353" schemaLocation="sample353.xsd"/><import namespace="http://www.sample.org/147" schemaLocation="./sample147.xsd"/><import namespace="http://www.sample.org/512" schemaLocation=".\sample512.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>