tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample816.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/816" xmlns:tns="http://www.sample.org/816">
<import namespace="http://www.sample.org/263" schemaLocation="sample263.xsd"/><import namespace="http://www.sample.org/372" schemaLocation="./sample372.xsd"/><import namespace="http://www.sample.org/717" schemaLocation=".\sample717.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>