tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample126.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/126" xmlns:tns="http://www.sample.org/126">
<import namespace="http://www.sample.org/707" schemaLocation="sample707.xsd"/><import namespace="http://www.sample.org/107" schemaLocation="./sample107.xsd"/><import namespace="http://www.sample.org/67" schemaLocation=".\sample67.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>