tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample580.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/580" xmlns:tns="http://www.sample.org/580">
<import namespace="http://www.sample.org/916" schemaLocation="sample916.xsd"/><import namespace="http://www.sample.org/783" schemaLocation="./sample783.xsd"/><import namespace="http://www.sample.org/995" schemaLocation=".\sample995.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>