tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample319.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/319" xmlns:tns="http://www.sample.org/319">
<import namespace="http://www.sample.org/574" schemaLocation="sample574.xsd"/><import namespace="http://www.sample.org/839" schemaLocation="./sample839.xsd"/><import namespace="http://www.sample.org/43" schemaLocation=".\sample43.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>