tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample956.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/956" xmlns:tns="http://www.sample.org/956">
<import namespace="http://www.sample.org/439" schemaLocation="sample439.xsd"/><import namespace="http://www.sample.org/120" schemaLocation="./sample120.xsd"/><import namespace="http://www.sample.org/517" schemaLocation=".\sample517.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>