tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample391.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/391" xmlns:tns="http://www.sample.org/391">
<import namespace="http://www.sample.org/389" schemaLocation="sample389.xsd"/><import namespace="http://www.sample.org/260" schemaLocation="./sample260.xsd"/><import namespace="http://www.sample.org/816" schemaLocation=".\sample816.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>