tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample395.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/395" xmlns:tns="http://www.sample.org/395">
<import namespace="http://www.sample.org/689" schemaLocation="sample689.xsd"/><import namespace="http://www.sample.org/537" schemaLocation="./sample537.xsd"/><import namespace="http://www.sample.org/4" schemaLocation=".\sample4.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>