tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample450.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/450" xmlns:tns="http://www.sample.org/450">
<import namespace="http://www.sample.org/736" schemaLocation="sample736.xsd"/><import namespace="http://www.sample.org/307" schemaLocation="./sample307.xsd"/><import namespace="http://www.sample.org/104" schemaLocation=".\sample104.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>