tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample833.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/833" xmlns:tns="http://www.sample.org/833">
<import namespace="http://www.sample.org/535" schemaLocation="sample535.xsd"/><import namespace="http://www.sample.org/539" schemaLocation="./sample539.xsd"/><import namespace="http://www.sample.org/602" schemaLocation=".\sample602.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>