tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample112.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/112" xmlns:tns="http://www.sample.org/112">
<import namespace="http://www.sample.org/18" schemaLocation="sample18.xsd"/><import namespace="http://www.sample.org/992" schemaLocation="./sample992.xsd"/><import namespace="http://www.sample.org/492" schemaLocation=".\sample492.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>