tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample442.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/442" xmlns:tns="http://www.sample.org/442">
<import namespace="http://www.sample.org/949" schemaLocation="sample949.xsd"/><import namespace="http://www.sample.org/966" schemaLocation="./sample966.xsd"/><import namespace="http://www.sample.org/63" schemaLocation=".\sample63.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>