tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample123.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/123" xmlns:tns="http://www.sample.org/123">
<import namespace="http://www.sample.org/760" schemaLocation="sample760.xsd"/><import namespace="http://www.sample.org/465" schemaLocation="./sample465.xsd"/><import namespace="http://www.sample.org/30" schemaLocation=".\sample30.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>