tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample801.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/801" xmlns:tns="http://www.sample.org/801">
<import namespace="http://www.sample.org/639" schemaLocation="sample639.xsd"/><import namespace="http://www.sample.org/661" schemaLocation="./sample661.xsd"/><import namespace="http://www.sample.org/245" schemaLocation=".\sample245.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>