tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample569.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/569" xmlns:tns="http://www.sample.org/569">
<import namespace="http://www.sample.org/380" schemaLocation="sample380.xsd"/><import namespace="http://www.sample.org/960" schemaLocation="./sample960.xsd"/><import namespace="http://www.sample.org/803" schemaLocation=".\sample803.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>