tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample904.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/904" xmlns:tns="http://www.sample.org/904">
<import namespace="http://www.sample.org/310" schemaLocation="sample310.xsd"/><import namespace="http://www.sample.org/999" schemaLocation="./sample999.xsd"/><import namespace="http://www.sample.org/749" schemaLocation=".\sample749.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>