tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample428.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/428" xmlns:tns="http://www.sample.org/428">
<import namespace="http://www.sample.org/62" schemaLocation="sample62.xsd"/><import namespace="http://www.sample.org/956" schemaLocation="./sample956.xsd"/><import namespace="http://www.sample.org/731" schemaLocation=".\sample731.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>