tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample758.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/758" xmlns:tns="http://www.sample.org/758">
<import namespace="http://www.sample.org/647" schemaLocation="sample647.xsd"/><import namespace="http://www.sample.org/859" schemaLocation="./sample859.xsd"/><import namespace="http://www.sample.org/441" schemaLocation=".\sample441.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>