tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample386.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/386" xmlns:tns="http://www.sample.org/386">
<import namespace="http://www.sample.org/857" schemaLocation="sample857.xsd"/><import namespace="http://www.sample.org/322" schemaLocation="./sample322.xsd"/><import namespace="http://www.sample.org/843" schemaLocation=".\sample843.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>