tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample955.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/955" xmlns:tns="http://www.sample.org/955">
<import namespace="http://www.sample.org/661" schemaLocation="sample661.xsd"/><import namespace="http://www.sample.org/241" schemaLocation="./sample241.xsd"/><import namespace="http://www.sample.org/269" schemaLocation=".\sample269.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>