tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample52.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/52" xmlns:tns="http://www.sample.org/52">
<import namespace="http://www.sample.org/553" schemaLocation="sample553.xsd"/><import namespace="http://www.sample.org/179" schemaLocation="./sample179.xsd"/><import namespace="http://www.sample.org/718" schemaLocation=".\sample718.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>