tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample643.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/643" xmlns:tns="http://www.sample.org/643">
<import namespace="http://www.sample.org/418" schemaLocation="sample418.xsd"/><import namespace="http://www.sample.org/448" schemaLocation="./sample448.xsd"/><import namespace="http://www.sample.org/636" schemaLocation=".\sample636.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>