tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample559.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/559" xmlns:tns="http://www.sample.org/559">
<import namespace="http://www.sample.org/807" schemaLocation="sample807.xsd"/><import namespace="http://www.sample.org/901" schemaLocation="./sample901.xsd"/><import namespace="http://www.sample.org/548" schemaLocation=".\sample548.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>