tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample645.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/645" xmlns:tns="http://www.sample.org/645">
<import namespace="http://www.sample.org/380" schemaLocation="sample380.xsd"/><import namespace="http://www.sample.org/373" schemaLocation="./sample373.xsd"/><import namespace="http://www.sample.org/390" schemaLocation=".\sample390.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>