tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample254.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/254" xmlns:tns="http://www.sample.org/254">
<import namespace="http://www.sample.org/49" schemaLocation="sample49.xsd"/><import namespace="http://www.sample.org/373" schemaLocation="./sample373.xsd"/><import namespace="http://www.sample.org/385" schemaLocation=".\sample385.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>