tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample890.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/890" xmlns:tns="http://www.sample.org/890">
<import namespace="http://www.sample.org/975" schemaLocation="sample975.xsd"/><import namespace="http://www.sample.org/328" schemaLocation="./sample328.xsd"/><import namespace="http://www.sample.org/20" schemaLocation=".\sample20.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>