tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample392.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/392" xmlns:tns="http://www.sample.org/392">
<import namespace="http://www.sample.org/190" schemaLocation="sample190.xsd"/><import namespace="http://www.sample.org/36" schemaLocation="./sample36.xsd"/><import namespace="http://www.sample.org/196" schemaLocation=".\sample196.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>