tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample576.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/576" xmlns:tns="http://www.sample.org/576">
<import namespace="http://www.sample.org/681" schemaLocation="sample681.xsd"/><import namespace="http://www.sample.org/303" schemaLocation="./sample303.xsd"/><import namespace="http://www.sample.org/82" schemaLocation=".\sample82.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>