tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample778.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/778" xmlns:tns="http://www.sample.org/778">
<import namespace="http://www.sample.org/41" schemaLocation="sample41.xsd"/><import namespace="http://www.sample.org/751" schemaLocation="./sample751.xsd"/><import namespace="http://www.sample.org/929" schemaLocation=".\sample929.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>