tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample686.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/686" xmlns:tns="http://www.sample.org/686">
<import namespace="http://www.sample.org/31" schemaLocation="sample31.xsd"/><import namespace="http://www.sample.org/837" schemaLocation="./sample837.xsd"/><import namespace="http://www.sample.org/656" schemaLocation=".\sample656.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>