tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample462.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/462" xmlns:tns="http://www.sample.org/462">
<import namespace="http://www.sample.org/440" schemaLocation="sample440.xsd"/><import namespace="http://www.sample.org/553" schemaLocation="./sample553.xsd"/><import namespace="http://www.sample.org/559" schemaLocation=".\sample559.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>