tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample81.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/81" xmlns:tns="http://www.sample.org/81">
<import namespace="http://www.sample.org/535" schemaLocation="sample535.xsd"/><import namespace="http://www.sample.org/587" schemaLocation="./sample587.xsd"/><import namespace="http://www.sample.org/665" schemaLocation=".\sample665.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>