tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample155.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/155" xmlns:tns="http://www.sample.org/155">
<import namespace="http://www.sample.org/700" schemaLocation="sample700.xsd"/><import namespace="http://www.sample.org/807" schemaLocation="./sample807.xsd"/><import namespace="http://www.sample.org/388" schemaLocation=".\sample388.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>