tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample260.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/260" xmlns:tns="http://www.sample.org/260">
<import namespace="http://www.sample.org/212" schemaLocation="sample212.xsd"/><import namespace="http://www.sample.org/680" schemaLocation="./sample680.xsd"/><import namespace="http://www.sample.org/388" schemaLocation=".\sample388.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>