tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample177.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/177" xmlns:tns="http://www.sample.org/177">
<import namespace="http://www.sample.org/953" schemaLocation="sample953.xsd"/><import namespace="http://www.sample.org/514" schemaLocation="./sample514.xsd"/><import namespace="http://www.sample.org/354" schemaLocation=".\sample354.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>