tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample593.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/593" xmlns:tns="http://www.sample.org/593">
<import namespace="http://www.sample.org/782" schemaLocation="sample782.xsd"/><import namespace="http://www.sample.org/954" schemaLocation="./sample954.xsd"/><import namespace="http://www.sample.org/829" schemaLocation=".\sample829.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>