tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample498.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/498" xmlns:tns="http://www.sample.org/498">
<import namespace="http://www.sample.org/565" schemaLocation="sample565.xsd"/><import namespace="http://www.sample.org/730" schemaLocation="./sample730.xsd"/><import namespace="http://www.sample.org/489" schemaLocation=".\sample489.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>