tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample662.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/662" xmlns:tns="http://www.sample.org/662">
<import namespace="http://www.sample.org/434" schemaLocation="sample434.xsd"/><import namespace="http://www.sample.org/603" schemaLocation="./sample603.xsd"/><import namespace="http://www.sample.org/200" schemaLocation=".\sample200.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>