tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample183.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/183" xmlns:tns="http://www.sample.org/183">
<import namespace="http://www.sample.org/883" schemaLocation="sample883.xsd"/><import namespace="http://www.sample.org/368" schemaLocation="./sample368.xsd"/><import namespace="http://www.sample.org/544" schemaLocation=".\sample544.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>