tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample754.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/754" xmlns:tns="http://www.sample.org/754">
<import namespace="http://www.sample.org/881" schemaLocation="sample881.xsd"/><import namespace="http://www.sample.org/186" schemaLocation="./sample186.xsd"/><import namespace="http://www.sample.org/833" schemaLocation=".\sample833.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>