tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample129.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/129" xmlns:tns="http://www.sample.org/129">
<import namespace="http://www.sample.org/740" schemaLocation="sample740.xsd"/><import namespace="http://www.sample.org/428" schemaLocation="./sample428.xsd"/><import namespace="http://www.sample.org/237" schemaLocation=".\sample237.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>