tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample992.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/992" xmlns:tns="http://www.sample.org/992">
<import namespace="http://www.sample.org/709" schemaLocation="sample709.xsd"/><import namespace="http://www.sample.org/815" schemaLocation="./sample815.xsd"/><import namespace="http://www.sample.org/252" schemaLocation=".\sample252.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>