tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample625.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/625" xmlns:tns="http://www.sample.org/625">
<import namespace="http://www.sample.org/768" schemaLocation="sample768.xsd"/><import namespace="http://www.sample.org/759" schemaLocation="./sample759.xsd"/><import namespace="http://www.sample.org/117" schemaLocation=".\sample117.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>