tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample282.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/282" xmlns:tns="http://www.sample.org/282">
<import namespace="http://www.sample.org/470" schemaLocation="sample470.xsd"/><import namespace="http://www.sample.org/775" schemaLocation="./sample775.xsd"/><import namespace="http://www.sample.org/877" schemaLocation=".\sample877.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>