tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample795.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/795" xmlns:tns="http://www.sample.org/795">
<import namespace="http://www.sample.org/251" schemaLocation="sample251.xsd"/><import namespace="http://www.sample.org/173" schemaLocation="./sample173.xsd"/><import namespace="http://www.sample.org/650" schemaLocation=".\sample650.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>