tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample361.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/361" xmlns:tns="http://www.sample.org/361">
<import namespace="http://www.sample.org/39" schemaLocation="sample39.xsd"/><import namespace="http://www.sample.org/763" schemaLocation="./sample763.xsd"/><import namespace="http://www.sample.org/773" schemaLocation=".\sample773.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>