tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample134.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/134" xmlns:tns="http://www.sample.org/134">
<import namespace="http://www.sample.org/866" schemaLocation="sample866.xsd"/><import namespace="http://www.sample.org/102" schemaLocation="./sample102.xsd"/><import namespace="http://www.sample.org/610" schemaLocation=".\sample610.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>