tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample843.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/843" xmlns:tns="http://www.sample.org/843">
<import namespace="http://www.sample.org/544" schemaLocation="sample544.xsd"/><import namespace="http://www.sample.org/204" schemaLocation="./sample204.xsd"/><import namespace="http://www.sample.org/675" schemaLocation=".\sample675.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>