tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample851.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/851" xmlns:tns="http://www.sample.org/851">
<import namespace="http://www.sample.org/406" schemaLocation="sample406.xsd"/><import namespace="http://www.sample.org/184" schemaLocation="./sample184.xsd"/><import namespace="http://www.sample.org/812" schemaLocation=".\sample812.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>