tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample94.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/94" xmlns:tns="http://www.sample.org/94">
<import namespace="http://www.sample.org/861" schemaLocation="sample861.xsd"/><import namespace="http://www.sample.org/632" schemaLocation="./sample632.xsd"/><import namespace="http://www.sample.org/726" schemaLocation=".\sample726.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>