tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample975.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/975" xmlns:tns="http://www.sample.org/975">
<import namespace="http://www.sample.org/207" schemaLocation="sample207.xsd"/><import namespace="http://www.sample.org/675" schemaLocation="./sample675.xsd"/><import namespace="http://www.sample.org/515" schemaLocation=".\sample515.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>