tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/210" xmlns:tns="http://www.sample.org/210">
<import namespace="http://www.sample.org/608" schemaLocation="sample608.xsd"/><import namespace="http://www.sample.org/32" schemaLocation="./sample32.xsd"/><import namespace="http://www.sample.org/201" schemaLocation=".\sample201.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>