tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample780.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/780" xmlns:tns="http://www.sample.org/780">
<import namespace="http://www.sample.org/214" schemaLocation="sample214.xsd"/><import namespace="http://www.sample.org/461" schemaLocation="./sample461.xsd"/><import namespace="http://www.sample.org/311" schemaLocation=".\sample311.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>