tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample771.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/771" xmlns:tns="http://www.sample.org/771">
<import namespace="http://www.sample.org/814" schemaLocation="sample814.xsd"/><import namespace="http://www.sample.org/413" schemaLocation="./sample413.xsd"/><import namespace="http://www.sample.org/298" schemaLocation=".\sample298.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>