tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample334.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/334" xmlns:tns="http://www.sample.org/334">
<import namespace="http://www.sample.org/733" schemaLocation="sample733.xsd"/><import namespace="http://www.sample.org/269" schemaLocation="./sample269.xsd"/><import namespace="http://www.sample.org/870" schemaLocation=".\sample870.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>