tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample615.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/615" xmlns:tns="http://www.sample.org/615">
<import namespace="http://www.sample.org/670" schemaLocation="sample670.xsd"/><import namespace="http://www.sample.org/635" schemaLocation="./sample635.xsd"/><import namespace="http://www.sample.org/16" schemaLocation=".\sample16.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>