tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample964.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/964" xmlns:tns="http://www.sample.org/964">
<import namespace="http://www.sample.org/45" schemaLocation="sample45.xsd"/><import namespace="http://www.sample.org/426" schemaLocation="./sample426.xsd"/><import namespace="http://www.sample.org/601" schemaLocation=".\sample601.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>