tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample916.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/916" xmlns:tns="http://www.sample.org/916">
<import namespace="http://www.sample.org/506" schemaLocation="sample506.xsd"/><import namespace="http://www.sample.org/543" schemaLocation="./sample543.xsd"/><import namespace="http://www.sample.org/725" schemaLocation=".\sample725.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>