tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample660.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/660" xmlns:tns="http://www.sample.org/660">
<import namespace="http://www.sample.org/267" schemaLocation="sample267.xsd"/><import namespace="http://www.sample.org/323" schemaLocation="./sample323.xsd"/><import namespace="http://www.sample.org/414" schemaLocation=".\sample414.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>