tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample478.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/478" xmlns:tns="http://www.sample.org/478">
<import namespace="http://www.sample.org/536" schemaLocation="sample536.xsd"/><import namespace="http://www.sample.org/862" schemaLocation="./sample862.xsd"/><import namespace="http://www.sample.org/643" schemaLocation=".\sample643.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>