tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/9" xmlns:tns="http://www.sample.org/9">
<import namespace="http://www.sample.org/962" schemaLocation="sample962.xsd"/><import namespace="http://www.sample.org/469" schemaLocation="./sample469.xsd"/><import namespace="http://www.sample.org/529" schemaLocation=".\sample529.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>