tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample466.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/466" xmlns:tns="http://www.sample.org/466">
<import namespace="http://www.sample.org/18" schemaLocation="sample18.xsd"/><import namespace="http://www.sample.org/664" schemaLocation="./sample664.xsd"/><import namespace="http://www.sample.org/110" schemaLocation=".\sample110.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>