tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample802.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/802" xmlns:tns="http://www.sample.org/802">
<import namespace="http://www.sample.org/147" schemaLocation="sample147.xsd"/><import namespace="http://www.sample.org/449" schemaLocation="./sample449.xsd"/><import namespace="http://www.sample.org/63" schemaLocation=".\sample63.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>