tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample818.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/818" xmlns:tns="http://www.sample.org/818">
<import namespace="http://www.sample.org/691" schemaLocation="sample691.xsd"/><import namespace="http://www.sample.org/634" schemaLocation="./sample634.xsd"/><import namespace="http://www.sample.org/217" schemaLocation=".\sample217.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>