tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample35.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/35" xmlns:tns="http://www.sample.org/35">
<import namespace="http://www.sample.org/747" schemaLocation="sample747.xsd"/><import namespace="http://www.sample.org/699" schemaLocation="./sample699.xsd"/><import namespace="http://www.sample.org/53" schemaLocation=".\sample53.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>