tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample174.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/174" xmlns:tns="http://www.sample.org/174">
<import namespace="http://www.sample.org/575" schemaLocation="sample575.xsd"/><import namespace="http://www.sample.org/776" schemaLocation="./sample776.xsd"/><import namespace="http://www.sample.org/315" schemaLocation=".\sample315.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>