tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample824.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/824" xmlns:tns="http://www.sample.org/824">
<import namespace="http://www.sample.org/637" schemaLocation="sample637.xsd"/><import namespace="http://www.sample.org/280" schemaLocation="./sample280.xsd"/><import namespace="http://www.sample.org/969" schemaLocation=".\sample969.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>