tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample140.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/140" xmlns:tns="http://www.sample.org/140">
<import namespace="http://www.sample.org/268" schemaLocation="sample268.xsd"/><import namespace="http://www.sample.org/158" schemaLocation="./sample158.xsd"/><import namespace="http://www.sample.org/459" schemaLocation=".\sample459.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>