tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample666.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/666" xmlns:tns="http://www.sample.org/666">
<import namespace="http://www.sample.org/375" schemaLocation="sample375.xsd"/><import namespace="http://www.sample.org/874" schemaLocation="./sample874.xsd"/><import namespace="http://www.sample.org/497" schemaLocation=".\sample497.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>