tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample168.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/168" xmlns:tns="http://www.sample.org/168">
<import namespace="http://www.sample.org/282" schemaLocation="sample282.xsd"/><import namespace="http://www.sample.org/694" schemaLocation="./sample694.xsd"/><import namespace="http://www.sample.org/617" schemaLocation=".\sample617.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>