tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample553.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/553" xmlns:tns="http://www.sample.org/553">
<import namespace="http://www.sample.org/400" schemaLocation="sample400.xsd"/><import namespace="http://www.sample.org/304" schemaLocation="./sample304.xsd"/><import namespace="http://www.sample.org/378" schemaLocation=".\sample378.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>