tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample490.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/490" xmlns:tns="http://www.sample.org/490">
<import namespace="http://www.sample.org/423" schemaLocation="sample423.xsd"/><import namespace="http://www.sample.org/526" schemaLocation="./sample526.xsd"/><import namespace="http://www.sample.org/770" schemaLocation=".\sample770.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>