tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample749.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/749" xmlns:tns="http://www.sample.org/749">
<import namespace="http://www.sample.org/583" schemaLocation="sample583.xsd"/><import namespace="http://www.sample.org/482" schemaLocation="./sample482.xsd"/><import namespace="http://www.sample.org/300" schemaLocation=".\sample300.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>