tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample115.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/115" xmlns:tns="http://www.sample.org/115">
<import namespace="http://www.sample.org/399" schemaLocation="sample399.xsd"/><import namespace="http://www.sample.org/114" schemaLocation="./sample114.xsd"/><import namespace="http://www.sample.org/985" schemaLocation=".\sample985.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>