tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample784.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/784" xmlns:tns="http://www.sample.org/784">
<import namespace="http://www.sample.org/933" schemaLocation="sample933.xsd"/><import namespace="http://www.sample.org/756" schemaLocation="./sample756.xsd"/><import namespace="http://www.sample.org/159" schemaLocation=".\sample159.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>