tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample707.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/707" xmlns:tns="http://www.sample.org/707">
<import namespace="http://www.sample.org/250" schemaLocation="sample250.xsd"/><import namespace="http://www.sample.org/685" schemaLocation="./sample685.xsd"/><import namespace="http://www.sample.org/366" schemaLocation=".\sample366.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>