tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/18" xmlns:tns="http://www.sample.org/18">
<import namespace="http://www.sample.org/137" schemaLocation="sample137.xsd"/><import namespace="http://www.sample.org/354" schemaLocation="./sample354.xsd"/><import namespace="http://www.sample.org/710" schemaLocation=".\sample710.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>