tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample718.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/718" xmlns:tns="http://www.sample.org/718">
<import namespace="http://www.sample.org/767" schemaLocation="sample767.xsd"/><import namespace="http://www.sample.org/493" schemaLocation="./sample493.xsd"/><import namespace="http://www.sample.org/98" schemaLocation=".\sample98.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>