tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample413.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/413" xmlns:tns="http://www.sample.org/413">
<import namespace="http://www.sample.org/852" schemaLocation="sample852.xsd"/><import namespace="http://www.sample.org/975" schemaLocation="./sample975.xsd"/><import namespace="http://www.sample.org/533" schemaLocation=".\sample533.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>