tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample889.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/889" xmlns:tns="http://www.sample.org/889">
<import namespace="http://www.sample.org/434" schemaLocation="sample434.xsd"/><import namespace="http://www.sample.org/424" schemaLocation="./sample424.xsd"/><import namespace="http://www.sample.org/20" schemaLocation=".\sample20.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>