tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample250.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/250" xmlns:tns="http://www.sample.org/250">
<import namespace="http://www.sample.org/570" schemaLocation="sample570.xsd"/><import namespace="http://www.sample.org/952" schemaLocation="./sample952.xsd"/><import namespace="http://www.sample.org/869" schemaLocation=".\sample869.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>