tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample958.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/958" xmlns:tns="http://www.sample.org/958">
<import namespace="http://www.sample.org/212" schemaLocation="sample212.xsd"/><import namespace="http://www.sample.org/200" schemaLocation="./sample200.xsd"/><import namespace="http://www.sample.org/498" schemaLocation=".\sample498.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>