tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample309.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/309" xmlns:tns="http://www.sample.org/309">
<import namespace="http://www.sample.org/546" schemaLocation="sample546.xsd"/><import namespace="http://www.sample.org/463" schemaLocation="./sample463.xsd"/><import namespace="http://www.sample.org/236" schemaLocation=".\sample236.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>