tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample555.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/555" xmlns:tns="http://www.sample.org/555">
<import namespace="http://www.sample.org/743" schemaLocation="sample743.xsd"/><import namespace="http://www.sample.org/944" schemaLocation="./sample944.xsd"/><import namespace="http://www.sample.org/771" schemaLocation=".\sample771.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>