tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample639.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/639" xmlns:tns="http://www.sample.org/639">
<import namespace="http://www.sample.org/909" schemaLocation="sample909.xsd"/><import namespace="http://www.sample.org/42" schemaLocation="./sample42.xsd"/><import namespace="http://www.sample.org/207" schemaLocation=".\sample207.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>