tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample910.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/910" xmlns:tns="http://www.sample.org/910">
<import namespace="http://www.sample.org/854" schemaLocation="sample854.xsd"/><import namespace="http://www.sample.org/888" schemaLocation="./sample888.xsd"/><import namespace="http://www.sample.org/639" schemaLocation=".\sample639.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>