tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample550.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/550" xmlns:tns="http://www.sample.org/550">
<import namespace="http://www.sample.org/811" schemaLocation="sample811.xsd"/><import namespace="http://www.sample.org/773" schemaLocation="./sample773.xsd"/><import namespace="http://www.sample.org/144" schemaLocation=".\sample144.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>