tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample213.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/213" xmlns:tns="http://www.sample.org/213">
<import namespace="http://www.sample.org/593" schemaLocation="sample593.xsd"/><import namespace="http://www.sample.org/197" schemaLocation="./sample197.xsd"/><import namespace="http://www.sample.org/430" schemaLocation=".\sample430.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>