tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample248.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/248" xmlns:tns="http://www.sample.org/248">
<import namespace="http://www.sample.org/362" schemaLocation="sample362.xsd"/><import namespace="http://www.sample.org/779" schemaLocation="./sample779.xsd"/><import namespace="http://www.sample.org/339" schemaLocation=".\sample339.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>