tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample636.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/636" xmlns:tns="http://www.sample.org/636">
<import namespace="http://www.sample.org/498" schemaLocation="sample498.xsd"/><import namespace="http://www.sample.org/936" schemaLocation="./sample936.xsd"/><import namespace="http://www.sample.org/88" schemaLocation=".\sample88.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>