tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample444.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/444" xmlns:tns="http://www.sample.org/444">
<import namespace="http://www.sample.org/776" schemaLocation="sample776.xsd"/><import namespace="http://www.sample.org/21" schemaLocation="./sample21.xsd"/><import namespace="http://www.sample.org/698" schemaLocation=".\sample698.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>