tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample739.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/739" xmlns:tns="http://www.sample.org/739">
<import namespace="http://www.sample.org/548" schemaLocation="sample548.xsd"/><import namespace="http://www.sample.org/573" schemaLocation="./sample573.xsd"/><import namespace="http://www.sample.org/530" schemaLocation=".\sample530.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>