tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample95.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/95" xmlns:tns="http://www.sample.org/95">
<import namespace="http://www.sample.org/907" schemaLocation="sample907.xsd"/><import namespace="http://www.sample.org/349" schemaLocation="./sample349.xsd"/><import namespace="http://www.sample.org/412" schemaLocation=".\sample412.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>