tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample706.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/706" xmlns:tns="http://www.sample.org/706">
<import namespace="http://www.sample.org/600" schemaLocation="sample600.xsd"/><import namespace="http://www.sample.org/562" schemaLocation="./sample562.xsd"/><import namespace="http://www.sample.org/243" schemaLocation=".\sample243.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>