tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample480.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/480" xmlns:tns="http://www.sample.org/480">
<import namespace="http://www.sample.org/384" schemaLocation="sample384.xsd"/><import namespace="http://www.sample.org/265" schemaLocation="./sample265.xsd"/><import namespace="http://www.sample.org/531" schemaLocation=".\sample531.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>