tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample425.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/425" xmlns:tns="http://www.sample.org/425">
<import namespace="http://www.sample.org/12" schemaLocation="sample12.xsd"/><import namespace="http://www.sample.org/645" schemaLocation="./sample645.xsd"/><import namespace="http://www.sample.org/182" schemaLocation=".\sample182.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>