tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample759.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/759" xmlns:tns="http://www.sample.org/759">
<import namespace="http://www.sample.org/471" schemaLocation="sample471.xsd"/><import namespace="http://www.sample.org/989" schemaLocation="./sample989.xsd"/><import namespace="http://www.sample.org/29" schemaLocation=".\sample29.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>