tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample43.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/43" xmlns:tns="http://www.sample.org/43">
<import namespace="http://www.sample.org/126" schemaLocation="sample126.xsd"/><import namespace="http://www.sample.org/418" schemaLocation="./sample418.xsd"/><import namespace="http://www.sample.org/194" schemaLocation=".\sample194.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>