tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample431.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/431" xmlns:tns="http://www.sample.org/431">
<import namespace="http://www.sample.org/566" schemaLocation="sample566.xsd"/><import namespace="http://www.sample.org/962" schemaLocation="./sample962.xsd"/><import namespace="http://www.sample.org/292" schemaLocation=".\sample292.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>