tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample675.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/675" xmlns:tns="http://www.sample.org/675">
<import namespace="http://www.sample.org/750" schemaLocation="sample750.xsd"/><import namespace="http://www.sample.org/803" schemaLocation="./sample803.xsd"/><import namespace="http://www.sample.org/755" schemaLocation=".\sample755.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>