tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample184.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/184" xmlns:tns="http://www.sample.org/184">
<import namespace="http://www.sample.org/192" schemaLocation="sample192.xsd"/><import namespace="http://www.sample.org/101" schemaLocation="./sample101.xsd"/><import namespace="http://www.sample.org/24" schemaLocation=".\sample24.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>