tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample990.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/990" xmlns:tns="http://www.sample.org/990">
<import namespace="http://www.sample.org/685" schemaLocation="sample685.xsd"/><import namespace="http://www.sample.org/651" schemaLocation="./sample651.xsd"/><import namespace="http://www.sample.org/871" schemaLocation=".\sample871.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>