tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample798.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/798" xmlns:tns="http://www.sample.org/798">
<import namespace="http://www.sample.org/655" schemaLocation="sample655.xsd"/><import namespace="http://www.sample.org/939" schemaLocation="./sample939.xsd"/><import namespace="http://www.sample.org/761" schemaLocation=".\sample761.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>