tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample773.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/773" xmlns:tns="http://www.sample.org/773">
<import namespace="http://www.sample.org/244" schemaLocation="sample244.xsd"/><import namespace="http://www.sample.org/474" schemaLocation="./sample474.xsd"/><import namespace="http://www.sample.org/328" schemaLocation=".\sample328.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>