tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample621.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/621" xmlns:tns="http://www.sample.org/621">
<import namespace="http://www.sample.org/288" schemaLocation="sample288.xsd"/><import namespace="http://www.sample.org/608" schemaLocation="./sample608.xsd"/><import namespace="http://www.sample.org/611" schemaLocation=".\sample611.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>