tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample212.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/212" xmlns:tns="http://www.sample.org/212">
<import namespace="http://www.sample.org/676" schemaLocation="sample676.xsd"/><import namespace="http://www.sample.org/119" schemaLocation="./sample119.xsd"/><import namespace="http://www.sample.org/871" schemaLocation=".\sample871.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>