tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/107" xmlns:tns="http://www.sample.org/107">
<import namespace="http://www.sample.org/32" schemaLocation="sample32.xsd"/><import namespace="http://www.sample.org/480" schemaLocation="./sample480.xsd"/><import namespace="http://www.sample.org/942" schemaLocation=".\sample942.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>