tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample830.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/830" xmlns:tns="http://www.sample.org/830">
<import namespace="http://www.sample.org/675" schemaLocation="sample675.xsd"/><import namespace="http://www.sample.org/886" schemaLocation="./sample886.xsd"/><import namespace="http://www.sample.org/198" schemaLocation=".\sample198.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>