tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample503.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/503" xmlns:tns="http://www.sample.org/503">
<import namespace="http://www.sample.org/805" schemaLocation="sample805.xsd"/><import namespace="http://www.sample.org/462" schemaLocation="./sample462.xsd"/><import namespace="http://www.sample.org/935" schemaLocation=".\sample935.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>