tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample72.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/72" xmlns:tns="http://www.sample.org/72">
<import namespace="http://www.sample.org/982" schemaLocation="sample982.xsd"/><import namespace="http://www.sample.org/70" schemaLocation="./sample70.xsd"/><import namespace="http://www.sample.org/419" schemaLocation=".\sample419.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>