tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample598.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/598" xmlns:tns="http://www.sample.org/598">
<import namespace="http://www.sample.org/613" schemaLocation="sample613.xsd"/><import namespace="http://www.sample.org/929" schemaLocation="./sample929.xsd"/><import namespace="http://www.sample.org/65" schemaLocation=".\sample65.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>