tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample977.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/977" xmlns:tns="http://www.sample.org/977">
<import namespace="http://www.sample.org/453" schemaLocation="sample453.xsd"/><import namespace="http://www.sample.org/566" schemaLocation="./sample566.xsd"/><import namespace="http://www.sample.org/836" schemaLocation=".\sample836.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>