tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample626.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/626" xmlns:tns="http://www.sample.org/626">
<import namespace="http://www.sample.org/708" schemaLocation="sample708.xsd"/><import namespace="http://www.sample.org/888" schemaLocation="./sample888.xsd"/><import namespace="http://www.sample.org/388" schemaLocation=".\sample388.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>