tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample785.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/785" xmlns:tns="http://www.sample.org/785">
<import namespace="http://www.sample.org/907" schemaLocation="sample907.xsd"/><import namespace="http://www.sample.org/162" schemaLocation="./sample162.xsd"/><import namespace="http://www.sample.org/831" schemaLocation=".\sample831.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>