tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample806.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/806" xmlns:tns="http://www.sample.org/806">
<import namespace="http://www.sample.org/571" schemaLocation="sample571.xsd"/><import namespace="http://www.sample.org/442" schemaLocation="./sample442.xsd"/><import namespace="http://www.sample.org/732" schemaLocation=".\sample732.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>