tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample376.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/376" xmlns:tns="http://www.sample.org/376">
<import namespace="http://www.sample.org/663" schemaLocation="sample663.xsd"/><import namespace="http://www.sample.org/533" schemaLocation="./sample533.xsd"/><import namespace="http://www.sample.org/718" schemaLocation=".\sample718.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>