tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample575.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/575" xmlns:tns="http://www.sample.org/575">
<import namespace="http://www.sample.org/779" schemaLocation="sample779.xsd"/><import namespace="http://www.sample.org/566" schemaLocation="./sample566.xsd"/><import namespace="http://www.sample.org/382" schemaLocation=".\sample382.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>