tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample764.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/764" xmlns:tns="http://www.sample.org/764">
<import namespace="http://www.sample.org/26" schemaLocation="sample26.xsd"/><import namespace="http://www.sample.org/925" schemaLocation="./sample925.xsd"/><import namespace="http://www.sample.org/380" schemaLocation=".\sample380.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>