tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample288.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/288" xmlns:tns="http://www.sample.org/288">
<import namespace="http://www.sample.org/857" schemaLocation="sample857.xsd"/><import namespace="http://www.sample.org/297" schemaLocation="./sample297.xsd"/><import namespace="http://www.sample.org/102" schemaLocation=".\sample102.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>