tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample744.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/744" xmlns:tns="http://www.sample.org/744">
<import namespace="http://www.sample.org/350" schemaLocation="sample350.xsd"/><import namespace="http://www.sample.org/135" schemaLocation="./sample135.xsd"/><import namespace="http://www.sample.org/614" schemaLocation=".\sample614.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>