tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample766.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/766" xmlns:tns="http://www.sample.org/766">
<import namespace="http://www.sample.org/697" schemaLocation="sample697.xsd"/><import namespace="http://www.sample.org/994" schemaLocation="./sample994.xsd"/><import namespace="http://www.sample.org/268" schemaLocation=".\sample268.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>