tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample720.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/720" xmlns:tns="http://www.sample.org/720">
<import namespace="http://www.sample.org/780" schemaLocation="sample780.xsd"/><import namespace="http://www.sample.org/940" schemaLocation="./sample940.xsd"/><import namespace="http://www.sample.org/63" schemaLocation=".\sample63.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>