tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample995.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/995" xmlns:tns="http://www.sample.org/995">
<import namespace="http://www.sample.org/542" schemaLocation="sample542.xsd"/><import namespace="http://www.sample.org/702" schemaLocation="./sample702.xsd"/><import namespace="http://www.sample.org/466" schemaLocation=".\sample466.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>