tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample605.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/605" xmlns:tns="http://www.sample.org/605">
<import namespace="http://www.sample.org/846" schemaLocation="sample846.xsd"/><import namespace="http://www.sample.org/70" schemaLocation="./sample70.xsd"/><import namespace="http://www.sample.org/70" schemaLocation=".\sample70.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>