tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample526.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/526" xmlns:tns="http://www.sample.org/526">
<import namespace="http://www.sample.org/959" schemaLocation="sample959.xsd"/><import namespace="http://www.sample.org/260" schemaLocation="./sample260.xsd"/><import namespace="http://www.sample.org/996" schemaLocation=".\sample996.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>