tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample520.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/520" xmlns:tns="http://www.sample.org/520">
<import namespace="http://www.sample.org/500" schemaLocation="sample500.xsd"/><import namespace="http://www.sample.org/974" schemaLocation="./sample974.xsd"/><import namespace="http://www.sample.org/549" schemaLocation=".\sample549.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>