tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample485.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/485" xmlns:tns="http://www.sample.org/485">
<import namespace="http://www.sample.org/890" schemaLocation="sample890.xsd"/><import namespace="http://www.sample.org/495" schemaLocation="./sample495.xsd"/><import namespace="http://www.sample.org/849" schemaLocation=".\sample849.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>