tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample116.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/116" xmlns:tns="http://www.sample.org/116">
<import namespace="http://www.sample.org/768" schemaLocation="sample768.xsd"/><import namespace="http://www.sample.org/508" schemaLocation="./sample508.xsd"/><import namespace="http://www.sample.org/948" schemaLocation=".\sample948.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>