tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample901.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/901" xmlns:tns="http://www.sample.org/901">
<import namespace="http://www.sample.org/208" schemaLocation="sample208.xsd"/><import namespace="http://www.sample.org/931" schemaLocation="./sample931.xsd"/><import namespace="http://www.sample.org/299" schemaLocation=".\sample299.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>