tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample465.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/465" xmlns:tns="http://www.sample.org/465">
<import namespace="http://www.sample.org/469" schemaLocation="sample469.xsd"/><import namespace="http://www.sample.org/880" schemaLocation="./sample880.xsd"/><import namespace="http://www.sample.org/670" schemaLocation=".\sample670.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>