tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample316.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/316" xmlns:tns="http://www.sample.org/316">
<import namespace="http://www.sample.org/922" schemaLocation="sample922.xsd"/><import namespace="http://www.sample.org/53" schemaLocation="./sample53.xsd"/><import namespace="http://www.sample.org/273" schemaLocation=".\sample273.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>