tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample893.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/893" xmlns:tns="http://www.sample.org/893">
<import namespace="http://www.sample.org/542" schemaLocation="sample542.xsd"/><import namespace="http://www.sample.org/246" schemaLocation="./sample246.xsd"/><import namespace="http://www.sample.org/273" schemaLocation=".\sample273.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>