tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample869.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/869" xmlns:tns="http://www.sample.org/869">
<import namespace="http://www.sample.org/232" schemaLocation="sample232.xsd"/><import namespace="http://www.sample.org/115" schemaLocation="./sample115.xsd"/><import namespace="http://www.sample.org/519" schemaLocation=".\sample519.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>