tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample492.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/492" xmlns:tns="http://www.sample.org/492">
<import namespace="http://www.sample.org/662" schemaLocation="sample662.xsd"/><import namespace="http://www.sample.org/784" schemaLocation="./sample784.xsd"/><import namespace="http://www.sample.org/394" schemaLocation=".\sample394.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>