tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample34.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/34" xmlns:tns="http://www.sample.org/34">
<import namespace="http://www.sample.org/45" schemaLocation="sample45.xsd"/><import namespace="http://www.sample.org/254" schemaLocation="./sample254.xsd"/><import namespace="http://www.sample.org/149" schemaLocation=".\sample149.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>