tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample241.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/241" xmlns:tns="http://www.sample.org/241">
<import namespace="http://www.sample.org/321" schemaLocation="sample321.xsd"/><import namespace="http://www.sample.org/469" schemaLocation="./sample469.xsd"/><import namespace="http://www.sample.org/187" schemaLocation=".\sample187.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>