tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample760.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/760" xmlns:tns="http://www.sample.org/760">
<import namespace="http://www.sample.org/398" schemaLocation="sample398.xsd"/><import namespace="http://www.sample.org/268" schemaLocation="./sample268.xsd"/><import namespace="http://www.sample.org/831" schemaLocation=".\sample831.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>