tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample698.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/698" xmlns:tns="http://www.sample.org/698">
<import namespace="http://www.sample.org/360" schemaLocation="sample360.xsd"/><import namespace="http://www.sample.org/896" schemaLocation="./sample896.xsd"/><import namespace="http://www.sample.org/528" schemaLocation=".\sample528.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>