tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample552.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/552" xmlns:tns="http://www.sample.org/552">
<import namespace="http://www.sample.org/651" schemaLocation="sample651.xsd"/><import namespace="http://www.sample.org/298" schemaLocation="./sample298.xsd"/><import namespace="http://www.sample.org/251" schemaLocation=".\sample251.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>