tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample561.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/561" xmlns:tns="http://www.sample.org/561">
<import namespace="http://www.sample.org/202" schemaLocation="sample202.xsd"/><import namespace="http://www.sample.org/396" schemaLocation="./sample396.xsd"/><import namespace="http://www.sample.org/847" schemaLocation=".\sample847.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>