tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample278.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/278" xmlns:tns="http://www.sample.org/278">
<import namespace="http://www.sample.org/130" schemaLocation="sample130.xsd"/><import namespace="http://www.sample.org/753" schemaLocation="./sample753.xsd"/><import namespace="http://www.sample.org/26" schemaLocation=".\sample26.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>