tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample377.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/377" xmlns:tns="http://www.sample.org/377">
<import namespace="http://www.sample.org/59" schemaLocation="sample59.xsd"/><import namespace="http://www.sample.org/397" schemaLocation="./sample397.xsd"/><import namespace="http://www.sample.org/615" schemaLocation=".\sample615.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>