tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/11" xmlns:tns="http://www.sample.org/11">
<import namespace="http://www.sample.org/179" schemaLocation="sample179.xsd"/><import namespace="http://www.sample.org/619" schemaLocation="./sample619.xsd"/><import namespace="http://www.sample.org/77" schemaLocation=".\sample77.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>