tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample509.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/509" xmlns:tns="http://www.sample.org/509">
<import namespace="http://www.sample.org/137" schemaLocation="sample137.xsd"/><import namespace="http://www.sample.org/685" schemaLocation="./sample685.xsd"/><import namespace="http://www.sample.org/596" schemaLocation=".\sample596.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>