tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample852.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/852" xmlns:tns="http://www.sample.org/852">
<import namespace="http://www.sample.org/709" schemaLocation="sample709.xsd"/><import namespace="http://www.sample.org/69" schemaLocation="./sample69.xsd"/><import namespace="http://www.sample.org/22" schemaLocation=".\sample22.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>