tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample623.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/623" xmlns:tns="http://www.sample.org/623">
<import namespace="http://www.sample.org/781" schemaLocation="sample781.xsd"/><import namespace="http://www.sample.org/596" schemaLocation="./sample596.xsd"/><import namespace="http://www.sample.org/441" schemaLocation=".\sample441.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>