tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample603.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/603" xmlns:tns="http://www.sample.org/603">
<import namespace="http://www.sample.org/572" schemaLocation="sample572.xsd"/><import namespace="http://www.sample.org/894" schemaLocation="./sample894.xsd"/><import namespace="http://www.sample.org/695" schemaLocation=".\sample695.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>