tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample838.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/838" xmlns:tns="http://www.sample.org/838">
<import namespace="http://www.sample.org/414" schemaLocation="sample414.xsd"/><import namespace="http://www.sample.org/498" schemaLocation="./sample498.xsd"/><import namespace="http://www.sample.org/602" schemaLocation=".\sample602.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>