tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample180.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/180" xmlns:tns="http://www.sample.org/180">
<import namespace="http://www.sample.org/585" schemaLocation="sample585.xsd"/><import namespace="http://www.sample.org/984" schemaLocation="./sample984.xsd"/><import namespace="http://www.sample.org/456" schemaLocation=".\sample456.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>