tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample535.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/535" xmlns:tns="http://www.sample.org/535">
<import namespace="http://www.sample.org/954" schemaLocation="sample954.xsd"/><import namespace="http://www.sample.org/294" schemaLocation="./sample294.xsd"/><import namespace="http://www.sample.org/769" schemaLocation=".\sample769.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>