tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample564.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/564" xmlns:tns="http://www.sample.org/564">
<import namespace="http://www.sample.org/140" schemaLocation="sample140.xsd"/><import namespace="http://www.sample.org/943" schemaLocation="./sample943.xsd"/><import namespace="http://www.sample.org/141" schemaLocation=".\sample141.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>