tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample524.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/524" xmlns:tns="http://www.sample.org/524">
<import namespace="http://www.sample.org/767" schemaLocation="sample767.xsd"/><import namespace="http://www.sample.org/438" schemaLocation="./sample438.xsd"/><import namespace="http://www.sample.org/456" schemaLocation=".\sample456.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>