tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample523.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/523" xmlns:tns="http://www.sample.org/523">
<import namespace="http://www.sample.org/519" schemaLocation="sample519.xsd"/><import namespace="http://www.sample.org/604" schemaLocation="./sample604.xsd"/><import namespace="http://www.sample.org/540" schemaLocation=".\sample540.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>