tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample652.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/652" xmlns:tns="http://www.sample.org/652">
<import namespace="http://www.sample.org/521" schemaLocation="sample521.xsd"/><import namespace="http://www.sample.org/70" schemaLocation="./sample70.xsd"/><import namespace="http://www.sample.org/900" schemaLocation=".\sample900.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>