tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample175.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/175" xmlns:tns="http://www.sample.org/175">
<import namespace="http://www.sample.org/295" schemaLocation="sample295.xsd"/><import namespace="http://www.sample.org/692" schemaLocation="./sample692.xsd"/><import namespace="http://www.sample.org/64" schemaLocation=".\sample64.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>