tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample988.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/988" xmlns:tns="http://www.sample.org/988">
<import namespace="http://www.sample.org/354" schemaLocation="sample354.xsd"/><import namespace="http://www.sample.org/473" schemaLocation="./sample473.xsd"/><import namespace="http://www.sample.org/427" schemaLocation=".\sample427.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>