tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample459.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/459" xmlns:tns="http://www.sample.org/459">
<import namespace="http://www.sample.org/676" schemaLocation="sample676.xsd"/><import namespace="http://www.sample.org/972" schemaLocation="./sample972.xsd"/><import namespace="http://www.sample.org/601" schemaLocation=".\sample601.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>