tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample106.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/106" xmlns:tns="http://www.sample.org/106">
<import namespace="http://www.sample.org/592" schemaLocation="sample592.xsd"/><import namespace="http://www.sample.org/372" schemaLocation="./sample372.xsd"/><import namespace="http://www.sample.org/413" schemaLocation=".\sample413.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>