tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample488.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/488" xmlns:tns="http://www.sample.org/488">
<import namespace="http://www.sample.org/852" schemaLocation="sample852.xsd"/><import namespace="http://www.sample.org/753" schemaLocation="./sample753.xsd"/><import namespace="http://www.sample.org/461" schemaLocation=".\sample461.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>