tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample650.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/650" xmlns:tns="http://www.sample.org/650">
<import namespace="http://www.sample.org/137" schemaLocation="sample137.xsd"/><import namespace="http://www.sample.org/886" schemaLocation="./sample886.xsd"/><import namespace="http://www.sample.org/178" schemaLocation=".\sample178.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>