tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample714.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/714" xmlns:tns="http://www.sample.org/714">
<import namespace="http://www.sample.org/659" schemaLocation="sample659.xsd"/><import namespace="http://www.sample.org/869" schemaLocation="./sample869.xsd"/><import namespace="http://www.sample.org/887" schemaLocation=".\sample887.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>