tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample786.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/786" xmlns:tns="http://www.sample.org/786">
<import namespace="http://www.sample.org/692" schemaLocation="sample692.xsd"/><import namespace="http://www.sample.org/145" schemaLocation="./sample145.xsd"/><import namespace="http://www.sample.org/996" schemaLocation=".\sample996.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>