tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample60.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/60" xmlns:tns="http://www.sample.org/60">
<import namespace="http://www.sample.org/560" schemaLocation="sample560.xsd"/><import namespace="http://www.sample.org/7" schemaLocation="./sample7.xsd"/><import namespace="http://www.sample.org/951" schemaLocation=".\sample951.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>