tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample421.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/421" xmlns:tns="http://www.sample.org/421">
<import namespace="http://www.sample.org/835" schemaLocation="sample835.xsd"/><import namespace="http://www.sample.org/607" schemaLocation="./sample607.xsd"/><import namespace="http://www.sample.org/68" schemaLocation=".\sample68.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>