tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample286.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/286" xmlns:tns="http://www.sample.org/286">
<import namespace="http://www.sample.org/296" schemaLocation="sample296.xsd"/><import namespace="http://www.sample.org/737" schemaLocation="./sample737.xsd"/><import namespace="http://www.sample.org/403" schemaLocation=".\sample403.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>