tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample710.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/710" xmlns:tns="http://www.sample.org/710">
<import namespace="http://www.sample.org/546" schemaLocation="sample546.xsd"/><import namespace="http://www.sample.org/468" schemaLocation="./sample468.xsd"/><import namespace="http://www.sample.org/56" schemaLocation=".\sample56.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>