tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample192.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/192" xmlns:tns="http://www.sample.org/192">
<import namespace="http://www.sample.org/178" schemaLocation="sample178.xsd"/><import namespace="http://www.sample.org/855" schemaLocation="./sample855.xsd"/><import namespace="http://www.sample.org/111" schemaLocation=".\sample111.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>