tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample234.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/234" xmlns:tns="http://www.sample.org/234">
<import namespace="http://www.sample.org/638" schemaLocation="sample638.xsd"/><import namespace="http://www.sample.org/49" schemaLocation="./sample49.xsd"/><import namespace="http://www.sample.org/617" schemaLocation=".\sample617.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>