tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample141.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/141" xmlns:tns="http://www.sample.org/141">
<import namespace="http://www.sample.org/267" schemaLocation="sample267.xsd"/><import namespace="http://www.sample.org/551" schemaLocation="./sample551.xsd"/><import namespace="http://www.sample.org/105" schemaLocation=".\sample105.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>