tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample153.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/153" xmlns:tns="http://www.sample.org/153">
<import namespace="http://www.sample.org/381" schemaLocation="sample381.xsd"/><import namespace="http://www.sample.org/941" schemaLocation="./sample941.xsd"/><import namespace="http://www.sample.org/546" schemaLocation=".\sample546.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>