tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample519.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/519" xmlns:tns="http://www.sample.org/519">
<import namespace="http://www.sample.org/148" schemaLocation="sample148.xsd"/><import namespace="http://www.sample.org/132" schemaLocation="./sample132.xsd"/><import namespace="http://www.sample.org/285" schemaLocation=".\sample285.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>