tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/251" xmlns:tns="http://www.sample.org/251">
<import namespace="http://www.sample.org/404" schemaLocation="sample404.xsd"/><import namespace="http://www.sample.org/60" schemaLocation="./sample60.xsd"/><import namespace="http://www.sample.org/340" schemaLocation=".\sample340.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>