tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample345.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/345" xmlns:tns="http://www.sample.org/345">
<import namespace="http://www.sample.org/719" schemaLocation="sample719.xsd"/><import namespace="http://www.sample.org/522" schemaLocation="./sample522.xsd"/><import namespace="http://www.sample.org/326" schemaLocation=".\sample326.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>