tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample850.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/850" xmlns:tns="http://www.sample.org/850">
<import namespace="http://www.sample.org/873" schemaLocation="sample873.xsd"/><import namespace="http://www.sample.org/512" schemaLocation="./sample512.xsd"/><import namespace="http://www.sample.org/844" schemaLocation=".\sample844.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>