tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample612.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/612" xmlns:tns="http://www.sample.org/612">
<import namespace="http://www.sample.org/75" schemaLocation="sample75.xsd"/><import namespace="http://www.sample.org/828" schemaLocation="./sample828.xsd"/><import namespace="http://www.sample.org/765" schemaLocation=".\sample765.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>