tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample311.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/311" xmlns:tns="http://www.sample.org/311">
<import namespace="http://www.sample.org/196" schemaLocation="sample196.xsd"/><import namespace="http://www.sample.org/64" schemaLocation="./sample64.xsd"/><import namespace="http://www.sample.org/518" schemaLocation=".\sample518.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>