tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/40" xmlns:tns="http://www.sample.org/40">
<import namespace="http://www.sample.org/979" schemaLocation="sample979.xsd"/><import namespace="http://www.sample.org/407" schemaLocation="./sample407.xsd"/><import namespace="http://www.sample.org/533" schemaLocation=".\sample533.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>