tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/21" xmlns:tns="http://www.sample.org/21">
<import namespace="http://www.sample.org/604" schemaLocation="sample604.xsd"/><import namespace="http://www.sample.org/264" schemaLocation="./sample264.xsd"/><import namespace="http://www.sample.org/856" schemaLocation=".\sample856.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>