tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample159.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/159" xmlns:tns="http://www.sample.org/159">
<import namespace="http://www.sample.org/334" schemaLocation="sample334.xsd"/><import namespace="http://www.sample.org/673" schemaLocation="./sample673.xsd"/><import namespace="http://www.sample.org/946" schemaLocation=".\sample946.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>