tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample387.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/387" xmlns:tns="http://www.sample.org/387">
<import namespace="http://www.sample.org/875" schemaLocation="sample875.xsd"/><import namespace="http://www.sample.org/762" schemaLocation="./sample762.xsd"/><import namespace="http://www.sample.org/277" schemaLocation=".\sample277.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>