tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample366.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/366" xmlns:tns="http://www.sample.org/366">
<import namespace="http://www.sample.org/753" schemaLocation="sample753.xsd"/><import namespace="http://www.sample.org/878" schemaLocation="./sample878.xsd"/><import namespace="http://www.sample.org/482" schemaLocation=".\sample482.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>