tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample429.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/429" xmlns:tns="http://www.sample.org/429">
<import namespace="http://www.sample.org/279" schemaLocation="sample279.xsd"/><import namespace="http://www.sample.org/366" schemaLocation="./sample366.xsd"/><import namespace="http://www.sample.org/255" schemaLocation=".\sample255.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>