tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample240.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/240" xmlns:tns="http://www.sample.org/240">
<import namespace="http://www.sample.org/318" schemaLocation="sample318.xsd"/><import namespace="http://www.sample.org/274" schemaLocation="./sample274.xsd"/><import namespace="http://www.sample.org/894" schemaLocation=".\sample894.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>