tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample227.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/227" xmlns:tns="http://www.sample.org/227">
<import namespace="http://www.sample.org/366" schemaLocation="sample366.xsd"/><import namespace="http://www.sample.org/176" schemaLocation="./sample176.xsd"/><import namespace="http://www.sample.org/584" schemaLocation=".\sample584.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>