tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample931.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/931" xmlns:tns="http://www.sample.org/931">
<import namespace="http://www.sample.org/919" schemaLocation="sample919.xsd"/><import namespace="http://www.sample.org/557" schemaLocation="./sample557.xsd"/><import namespace="http://www.sample.org/78" schemaLocation=".\sample78.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>