tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample232.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/232" xmlns:tns="http://www.sample.org/232">
<import namespace="http://www.sample.org/211" schemaLocation="sample211.xsd"/><import namespace="http://www.sample.org/766" schemaLocation="./sample766.xsd"/><import namespace="http://www.sample.org/94" schemaLocation=".\sample94.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>