tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample289.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/289" xmlns:tns="http://www.sample.org/289">
<import namespace="http://www.sample.org/55" schemaLocation="sample55.xsd"/><import namespace="http://www.sample.org/385" schemaLocation="./sample385.xsd"/><import namespace="http://www.sample.org/390" schemaLocation=".\sample390.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>