tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample809.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/809" xmlns:tns="http://www.sample.org/809">
<import namespace="http://www.sample.org/79" schemaLocation="sample79.xsd"/><import namespace="http://www.sample.org/293" schemaLocation="./sample293.xsd"/><import namespace="http://www.sample.org/194" schemaLocation=".\sample194.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>