tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample545.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/545" xmlns:tns="http://www.sample.org/545">
<import namespace="http://www.sample.org/770" schemaLocation="sample770.xsd"/><import namespace="http://www.sample.org/426" schemaLocation="./sample426.xsd"/><import namespace="http://www.sample.org/865" schemaLocation=".\sample865.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>