tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample105.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/105" xmlns:tns="http://www.sample.org/105">
<import namespace="http://www.sample.org/420" schemaLocation="sample420.xsd"/><import namespace="http://www.sample.org/912" schemaLocation="./sample912.xsd"/><import namespace="http://www.sample.org/127" schemaLocation=".\sample127.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>