tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample767.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/767" xmlns:tns="http://www.sample.org/767">
<import namespace="http://www.sample.org/692" schemaLocation="sample692.xsd"/><import namespace="http://www.sample.org/703" schemaLocation="./sample703.xsd"/><import namespace="http://www.sample.org/953" schemaLocation=".\sample953.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>