tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample209.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/209" xmlns:tns="http://www.sample.org/209">
<import namespace="http://www.sample.org/367" schemaLocation="sample367.xsd"/><import namespace="http://www.sample.org/84" schemaLocation="./sample84.xsd"/><import namespace="http://www.sample.org/266" schemaLocation=".\sample266.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>