tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/7" xmlns:tns="http://www.sample.org/7">
<import namespace="http://www.sample.org/47" schemaLocation="sample47.xsd"/><import namespace="http://www.sample.org/186" schemaLocation="./sample186.xsd"/><import namespace="http://www.sample.org/460" schemaLocation=".\sample460.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>