tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample188.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/188" xmlns:tns="http://www.sample.org/188">
<import namespace="http://www.sample.org/479" schemaLocation="sample479.xsd"/><import namespace="http://www.sample.org/798" schemaLocation="./sample798.xsd"/><import namespace="http://www.sample.org/815" schemaLocation=".\sample815.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>