tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample176.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/176" xmlns:tns="http://www.sample.org/176">
<import namespace="http://www.sample.org/905" schemaLocation="sample905.xsd"/><import namespace="http://www.sample.org/777" schemaLocation="./sample777.xsd"/><import namespace="http://www.sample.org/691" schemaLocation=".\sample691.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>