tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample705.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/705" xmlns:tns="http://www.sample.org/705">
<import namespace="http://www.sample.org/601" schemaLocation="sample601.xsd"/><import namespace="http://www.sample.org/669" schemaLocation="./sample669.xsd"/><import namespace="http://www.sample.org/106" schemaLocation=".\sample106.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>