tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample700.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/700" xmlns:tns="http://www.sample.org/700">
<import namespace="http://www.sample.org/194" schemaLocation="sample194.xsd"/><import namespace="http://www.sample.org/813" schemaLocation="./sample813.xsd"/><import namespace="http://www.sample.org/798" schemaLocation=".\sample798.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>