tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample985.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/985" xmlns:tns="http://www.sample.org/985">
<import namespace="http://www.sample.org/838" schemaLocation="sample838.xsd"/><import namespace="http://www.sample.org/47" schemaLocation="./sample47.xsd"/><import namespace="http://www.sample.org/331" schemaLocation=".\sample331.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>