tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample326.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/326" xmlns:tns="http://www.sample.org/326">
<import namespace="http://www.sample.org/2" schemaLocation="sample2.xsd"/><import namespace="http://www.sample.org/452" schemaLocation="./sample452.xsd"/><import namespace="http://www.sample.org/633" schemaLocation=".\sample633.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>