tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample619.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/619" xmlns:tns="http://www.sample.org/619">
<import namespace="http://www.sample.org/286" schemaLocation="sample286.xsd"/><import namespace="http://www.sample.org/377" schemaLocation="./sample377.xsd"/><import namespace="http://www.sample.org/845" schemaLocation=".\sample845.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>