tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample408.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/408" xmlns:tns="http://www.sample.org/408">
<import namespace="http://www.sample.org/975" schemaLocation="sample975.xsd"/><import namespace="http://www.sample.org/760" schemaLocation="./sample760.xsd"/><import namespace="http://www.sample.org/568" schemaLocation=".\sample568.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>