tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample502.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/502" xmlns:tns="http://www.sample.org/502">
<import namespace="http://www.sample.org/508" schemaLocation="sample508.xsd"/><import namespace="http://www.sample.org/177" schemaLocation="./sample177.xsd"/><import namespace="http://www.sample.org/877" schemaLocation=".\sample877.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>