tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample384.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/384" xmlns:tns="http://www.sample.org/384">
<import namespace="http://www.sample.org/212" schemaLocation="sample212.xsd"/><import namespace="http://www.sample.org/91" schemaLocation="./sample91.xsd"/><import namespace="http://www.sample.org/859" schemaLocation=".\sample859.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>