tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample859.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/859" xmlns:tns="http://www.sample.org/859">
<import namespace="http://www.sample.org/509" schemaLocation="sample509.xsd"/><import namespace="http://www.sample.org/696" schemaLocation="./sample696.xsd"/><import namespace="http://www.sample.org/168" schemaLocation=".\sample168.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>