tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample895.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/895" xmlns:tns="http://www.sample.org/895">
<import namespace="http://www.sample.org/124" schemaLocation="sample124.xsd"/><import namespace="http://www.sample.org/177" schemaLocation="./sample177.xsd"/><import namespace="http://www.sample.org/680" schemaLocation=".\sample680.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>