tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample855.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/855" xmlns:tns="http://www.sample.org/855">
<import namespace="http://www.sample.org/365" schemaLocation="sample365.xsd"/><import namespace="http://www.sample.org/513" schemaLocation="./sample513.xsd"/><import namespace="http://www.sample.org/572" schemaLocation=".\sample572.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>