tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample246.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/246" xmlns:tns="http://www.sample.org/246">
<import namespace="http://www.sample.org/355" schemaLocation="sample355.xsd"/><import namespace="http://www.sample.org/849" schemaLocation="./sample849.xsd"/><import namespace="http://www.sample.org/59" schemaLocation=".\sample59.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>