tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample359.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/359" xmlns:tns="http://www.sample.org/359">
<import namespace="http://www.sample.org/547" schemaLocation="sample547.xsd"/><import namespace="http://www.sample.org/476" schemaLocation="./sample476.xsd"/><import namespace="http://www.sample.org/807" schemaLocation=".\sample807.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>