tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample494.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/494" xmlns:tns="http://www.sample.org/494">
<import namespace="http://www.sample.org/501" schemaLocation="sample501.xsd"/><import namespace="http://www.sample.org/506" schemaLocation="./sample506.xsd"/><import namespace="http://www.sample.org/958" schemaLocation=".\sample958.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>