tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample80.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/80" xmlns:tns="http://www.sample.org/80">
<import namespace="http://www.sample.org/828" schemaLocation="sample828.xsd"/><import namespace="http://www.sample.org/875" schemaLocation="./sample875.xsd"/><import namespace="http://www.sample.org/748" schemaLocation=".\sample748.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>