tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample667.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/667" xmlns:tns="http://www.sample.org/667">
<import namespace="http://www.sample.org/422" schemaLocation="sample422.xsd"/><import namespace="http://www.sample.org/632" schemaLocation="./sample632.xsd"/><import namespace="http://www.sample.org/197" schemaLocation=".\sample197.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>