tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample473.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/473" xmlns:tns="http://www.sample.org/473">
<import namespace="http://www.sample.org/234" schemaLocation="sample234.xsd"/><import namespace="http://www.sample.org/693" schemaLocation="./sample693.xsd"/><import namespace="http://www.sample.org/916" schemaLocation=".\sample916.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>