tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample435.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/435" xmlns:tns="http://www.sample.org/435">
<import namespace="http://www.sample.org/80" schemaLocation="sample80.xsd"/><import namespace="http://www.sample.org/301" schemaLocation="./sample301.xsd"/><import namespace="http://www.sample.org/709" schemaLocation=".\sample709.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>