tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample419.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/419" xmlns:tns="http://www.sample.org/419">
<import namespace="http://www.sample.org/430" schemaLocation="sample430.xsd"/><import namespace="http://www.sample.org/850" schemaLocation="./sample850.xsd"/><import namespace="http://www.sample.org/42" schemaLocation=".\sample42.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>