tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample891.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/891" xmlns:tns="http://www.sample.org/891">
<import namespace="http://www.sample.org/34" schemaLocation="sample34.xsd"/><import namespace="http://www.sample.org/90" schemaLocation="./sample90.xsd"/><import namespace="http://www.sample.org/43" schemaLocation=".\sample43.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>