tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample541.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/541" xmlns:tns="http://www.sample.org/541">
<import namespace="http://www.sample.org/662" schemaLocation="sample662.xsd"/><import namespace="http://www.sample.org/651" schemaLocation="./sample651.xsd"/><import namespace="http://www.sample.org/410" schemaLocation=".\sample410.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>