tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample415.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/415" xmlns:tns="http://www.sample.org/415">
<import namespace="http://www.sample.org/208" schemaLocation="sample208.xsd"/><import namespace="http://www.sample.org/684" schemaLocation="./sample684.xsd"/><import namespace="http://www.sample.org/339" schemaLocation=".\sample339.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>