tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample388.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/388" xmlns:tns="http://www.sample.org/388">
<import namespace="http://www.sample.org/423" schemaLocation="sample423.xsd"/><import namespace="http://www.sample.org/292" schemaLocation="./sample292.xsd"/><import namespace="http://www.sample.org/57" schemaLocation=".\sample57.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>