tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample532.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/532" xmlns:tns="http://www.sample.org/532">
<import namespace="http://www.sample.org/648" schemaLocation="sample648.xsd"/><import namespace="http://www.sample.org/661" schemaLocation="./sample661.xsd"/><import namespace="http://www.sample.org/561" schemaLocation=".\sample561.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>