tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample640.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/640" xmlns:tns="http://www.sample.org/640">
<import namespace="http://www.sample.org/934" schemaLocation="sample934.xsd"/><import namespace="http://www.sample.org/892" schemaLocation="./sample892.xsd"/><import namespace="http://www.sample.org/989" schemaLocation=".\sample989.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>