tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample482.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/482" xmlns:tns="http://www.sample.org/482">
<import namespace="http://www.sample.org/414" schemaLocation="sample414.xsd"/><import namespace="http://www.sample.org/340" schemaLocation="./sample340.xsd"/><import namespace="http://www.sample.org/639" schemaLocation=".\sample639.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>