tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample725.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/725" xmlns:tns="http://www.sample.org/725">
<import namespace="http://www.sample.org/778" schemaLocation="sample778.xsd"/><import namespace="http://www.sample.org/154" schemaLocation="./sample154.xsd"/><import namespace="http://www.sample.org/915" schemaLocation=".\sample915.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>