tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample486.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/486" xmlns:tns="http://www.sample.org/486">
<import namespace="http://www.sample.org/791" schemaLocation="sample791.xsd"/><import namespace="http://www.sample.org/174" schemaLocation="./sample174.xsd"/><import namespace="http://www.sample.org/881" schemaLocation=".\sample881.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>