tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample887.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/887" xmlns:tns="http://www.sample.org/887">
<import namespace="http://www.sample.org/320" schemaLocation="sample320.xsd"/><import namespace="http://www.sample.org/918" schemaLocation="./sample918.xsd"/><import namespace="http://www.sample.org/595" schemaLocation=".\sample595.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>