tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample790.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/790" xmlns:tns="http://www.sample.org/790">
<import namespace="http://www.sample.org/892" schemaLocation="sample892.xsd"/><import namespace="http://www.sample.org/735" schemaLocation="./sample735.xsd"/><import namespace="http://www.sample.org/42" schemaLocation=".\sample42.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>