tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample117.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/117" xmlns:tns="http://www.sample.org/117">
<import namespace="http://www.sample.org/823" schemaLocation="sample823.xsd"/><import namespace="http://www.sample.org/290" schemaLocation="./sample290.xsd"/><import namespace="http://www.sample.org/620" schemaLocation=".\sample620.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>