tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample577.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/577" xmlns:tns="http://www.sample.org/577">
<import namespace="http://www.sample.org/968" schemaLocation="sample968.xsd"/><import namespace="http://www.sample.org/690" schemaLocation="./sample690.xsd"/><import namespace="http://www.sample.org/137" schemaLocation=".\sample137.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>