tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample732.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/732" xmlns:tns="http://www.sample.org/732">
<import namespace="http://www.sample.org/744" schemaLocation="sample744.xsd"/><import namespace="http://www.sample.org/218" schemaLocation="./sample218.xsd"/><import namespace="http://www.sample.org/501" schemaLocation=".\sample501.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>