tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample939.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/939" xmlns:tns="http://www.sample.org/939">
<import namespace="http://www.sample.org/532" schemaLocation="sample532.xsd"/><import namespace="http://www.sample.org/386" schemaLocation="./sample386.xsd"/><import namespace="http://www.sample.org/139" schemaLocation=".\sample139.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>