tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample352.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/352" xmlns:tns="http://www.sample.org/352">
<import namespace="http://www.sample.org/825" schemaLocation="sample825.xsd"/><import namespace="http://www.sample.org/273" schemaLocation="./sample273.xsd"/><import namespace="http://www.sample.org/447" schemaLocation=".\sample447.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>