tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample337.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/337" xmlns:tns="http://www.sample.org/337">
<import namespace="http://www.sample.org/56" schemaLocation="sample56.xsd"/><import namespace="http://www.sample.org/425" schemaLocation="./sample425.xsd"/><import namespace="http://www.sample.org/599" schemaLocation=".\sample599.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>