tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample351.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/351" xmlns:tns="http://www.sample.org/351">
<import namespace="http://www.sample.org/268" schemaLocation="sample268.xsd"/><import namespace="http://www.sample.org/352" schemaLocation="./sample352.xsd"/><import namespace="http://www.sample.org/62" schemaLocation=".\sample62.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>