tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample182.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/182" xmlns:tns="http://www.sample.org/182">
<import namespace="http://www.sample.org/626" schemaLocation="sample626.xsd"/><import namespace="http://www.sample.org/482" schemaLocation="./sample482.xsd"/><import namespace="http://www.sample.org/320" schemaLocation=".\sample320.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>