tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample439.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/439" xmlns:tns="http://www.sample.org/439">
<import namespace="http://www.sample.org/168" schemaLocation="sample168.xsd"/><import namespace="http://www.sample.org/959" schemaLocation="./sample959.xsd"/><import namespace="http://www.sample.org/480" schemaLocation=".\sample480.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>