tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample262.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/262" xmlns:tns="http://www.sample.org/262">
<import namespace="http://www.sample.org/678" schemaLocation="sample678.xsd"/><import namespace="http://www.sample.org/884" schemaLocation="./sample884.xsd"/><import namespace="http://www.sample.org/402" schemaLocation=".\sample402.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>