tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample273.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/273" xmlns:tns="http://www.sample.org/273">
<import namespace="http://www.sample.org/381" schemaLocation="sample381.xsd"/><import namespace="http://www.sample.org/651" schemaLocation="./sample651.xsd"/><import namespace="http://www.sample.org/715" schemaLocation=".\sample715.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>