tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample528.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/528" xmlns:tns="http://www.sample.org/528">
<import namespace="http://www.sample.org/990" schemaLocation="sample990.xsd"/><import namespace="http://www.sample.org/781" schemaLocation="./sample781.xsd"/><import namespace="http://www.sample.org/751" schemaLocation=".\sample751.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>