tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample257.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/257" xmlns:tns="http://www.sample.org/257">
<import namespace="http://www.sample.org/638" schemaLocation="sample638.xsd"/><import namespace="http://www.sample.org/291" schemaLocation="./sample291.xsd"/><import namespace="http://www.sample.org/354" schemaLocation=".\sample354.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>