tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample463.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/463" xmlns:tns="http://www.sample.org/463">
<import namespace="http://www.sample.org/246" schemaLocation="sample246.xsd"/><import namespace="http://www.sample.org/66" schemaLocation="./sample66.xsd"/><import namespace="http://www.sample.org/163" schemaLocation=".\sample163.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>