tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample297.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/297" xmlns:tns="http://www.sample.org/297">
<import namespace="http://www.sample.org/596" schemaLocation="sample596.xsd"/><import namespace="http://www.sample.org/28" schemaLocation="./sample28.xsd"/><import namespace="http://www.sample.org/659" schemaLocation=".\sample659.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>