tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample624.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/624" xmlns:tns="http://www.sample.org/624">
<import namespace="http://www.sample.org/904" schemaLocation="sample904.xsd"/><import namespace="http://www.sample.org/133" schemaLocation="./sample133.xsd"/><import namespace="http://www.sample.org/432" schemaLocation=".\sample432.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>