tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample746.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/746" xmlns:tns="http://www.sample.org/746">
<import namespace="http://www.sample.org/121" schemaLocation="sample121.xsd"/><import namespace="http://www.sample.org/701" schemaLocation="./sample701.xsd"/><import namespace="http://www.sample.org/628" schemaLocation=".\sample628.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>