tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample25.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/25" xmlns:tns="http://www.sample.org/25">
<import namespace="http://www.sample.org/149" schemaLocation="sample149.xsd"/><import namespace="http://www.sample.org/357" schemaLocation="./sample357.xsd"/><import namespace="http://www.sample.org/722" schemaLocation=".\sample722.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>