tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample763.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/763" xmlns:tns="http://www.sample.org/763">
<import namespace="http://www.sample.org/756" schemaLocation="sample756.xsd"/><import namespace="http://www.sample.org/780" schemaLocation="./sample780.xsd"/><import namespace="http://www.sample.org/783" schemaLocation=".\sample783.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>