tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample817.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/817" xmlns:tns="http://www.sample.org/817">
<import namespace="http://www.sample.org/552" schemaLocation="sample552.xsd"/><import namespace="http://www.sample.org/897" schemaLocation="./sample897.xsd"/><import namespace="http://www.sample.org/994" schemaLocation=".\sample994.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>