tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample173.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/173" xmlns:tns="http://www.sample.org/173">
<import namespace="http://www.sample.org/436" schemaLocation="sample436.xsd"/><import namespace="http://www.sample.org/701" schemaLocation="./sample701.xsd"/><import namespace="http://www.sample.org/257" schemaLocation=".\sample257.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>