tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample49.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/49" xmlns:tns="http://www.sample.org/49">
<import namespace="http://www.sample.org/57" schemaLocation="sample57.xsd"/><import namespace="http://www.sample.org/619" schemaLocation="./sample619.xsd"/><import namespace="http://www.sample.org/294" schemaLocation=".\sample294.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>