tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample678.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/678" xmlns:tns="http://www.sample.org/678">
<import namespace="http://www.sample.org/844" schemaLocation="sample844.xsd"/><import namespace="http://www.sample.org/849" schemaLocation="./sample849.xsd"/><import namespace="http://www.sample.org/761" schemaLocation=".\sample761.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>