tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample828.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/828" xmlns:tns="http://www.sample.org/828">
<import namespace="http://www.sample.org/191" schemaLocation="sample191.xsd"/><import namespace="http://www.sample.org/166" schemaLocation="./sample166.xsd"/><import namespace="http://www.sample.org/962" schemaLocation=".\sample962.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>