tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample969.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/969" xmlns:tns="http://www.sample.org/969">
<import namespace="http://www.sample.org/411" schemaLocation="sample411.xsd"/><import namespace="http://www.sample.org/248" schemaLocation="./sample248.xsd"/><import namespace="http://www.sample.org/672" schemaLocation=".\sample672.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>