tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample108.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/108" xmlns:tns="http://www.sample.org/108">
<import namespace="http://www.sample.org/239" schemaLocation="sample239.xsd"/><import namespace="http://www.sample.org/705" schemaLocation="./sample705.xsd"/><import namespace="http://www.sample.org/315" schemaLocation=".\sample315.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>