tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample872.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/872" xmlns:tns="http://www.sample.org/872">
<import namespace="http://www.sample.org/723" schemaLocation="sample723.xsd"/><import namespace="http://www.sample.org/118" schemaLocation="./sample118.xsd"/><import namespace="http://www.sample.org/729" schemaLocation=".\sample729.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>