tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample398.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/398" xmlns:tns="http://www.sample.org/398">
<import namespace="http://www.sample.org/338" schemaLocation="sample338.xsd"/><import namespace="http://www.sample.org/558" schemaLocation="./sample558.xsd"/><import namespace="http://www.sample.org/325" schemaLocation=".\sample325.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>