tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample332.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/332" xmlns:tns="http://www.sample.org/332">
<import namespace="http://www.sample.org/37" schemaLocation="sample37.xsd"/><import namespace="http://www.sample.org/219" schemaLocation="./sample219.xsd"/><import namespace="http://www.sample.org/579" schemaLocation=".\sample579.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>