tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample874.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/874" xmlns:tns="http://www.sample.org/874">
<import namespace="http://www.sample.org/628" schemaLocation="sample628.xsd"/><import namespace="http://www.sample.org/351" schemaLocation="./sample351.xsd"/><import namespace="http://www.sample.org/138" schemaLocation=".\sample138.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>