tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample172.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/172" xmlns:tns="http://www.sample.org/172">
<import namespace="http://www.sample.org/740" schemaLocation="sample740.xsd"/><import namespace="http://www.sample.org/736" schemaLocation="./sample736.xsd"/><import namespace="http://www.sample.org/604" schemaLocation=".\sample604.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>