tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample259.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/259" xmlns:tns="http://www.sample.org/259">
<import namespace="http://www.sample.org/936" schemaLocation="sample936.xsd"/><import namespace="http://www.sample.org/193" schemaLocation="./sample193.xsd"/><import namespace="http://www.sample.org/508" schemaLocation=".\sample508.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>