tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample205.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/205" xmlns:tns="http://www.sample.org/205">
<import namespace="http://www.sample.org/774" schemaLocation="sample774.xsd"/><import namespace="http://www.sample.org/117" schemaLocation="./sample117.xsd"/><import namespace="http://www.sample.org/748" schemaLocation=".\sample748.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>