tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample118.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/118" xmlns:tns="http://www.sample.org/118">
<import namespace="http://www.sample.org/685" schemaLocation="sample685.xsd"/><import namespace="http://www.sample.org/752" schemaLocation="./sample752.xsd"/><import namespace="http://www.sample.org/956" schemaLocation=".\sample956.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>