tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample420.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/420" xmlns:tns="http://www.sample.org/420">
<import namespace="http://www.sample.org/131" schemaLocation="sample131.xsd"/><import namespace="http://www.sample.org/156" schemaLocation="./sample156.xsd"/><import namespace="http://www.sample.org/437" schemaLocation=".\sample437.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>