tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample539.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/539" xmlns:tns="http://www.sample.org/539">
<import namespace="http://www.sample.org/945" schemaLocation="sample945.xsd"/><import namespace="http://www.sample.org/377" schemaLocation="./sample377.xsd"/><import namespace="http://www.sample.org/261" schemaLocation=".\sample261.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>