tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample899.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/899" xmlns:tns="http://www.sample.org/899">
<import namespace="http://www.sample.org/3" schemaLocation="sample3.xsd"/><import namespace="http://www.sample.org/952" schemaLocation="./sample952.xsd"/><import namespace="http://www.sample.org/333" schemaLocation=".\sample333.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>