tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample73.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/73" xmlns:tns="http://www.sample.org/73">
<import namespace="http://www.sample.org/531" schemaLocation="sample531.xsd"/><import namespace="http://www.sample.org/931" schemaLocation="./sample931.xsd"/><import namespace="http://www.sample.org/592" schemaLocation=".\sample592.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>