tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample340.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/340" xmlns:tns="http://www.sample.org/340">
<import namespace="http://www.sample.org/790" schemaLocation="sample790.xsd"/><import namespace="http://www.sample.org/55" schemaLocation="./sample55.xsd"/><import namespace="http://www.sample.org/592" schemaLocation=".\sample592.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>