tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample861.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/861" xmlns:tns="http://www.sample.org/861">
<import namespace="http://www.sample.org/573" schemaLocation="sample573.xsd"/><import namespace="http://www.sample.org/448" schemaLocation="./sample448.xsd"/><import namespace="http://www.sample.org/202" schemaLocation=".\sample202.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>