tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample243.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/243" xmlns:tns="http://www.sample.org/243">
<import namespace="http://www.sample.org/64" schemaLocation="sample64.xsd"/><import namespace="http://www.sample.org/505" schemaLocation="./sample505.xsd"/><import namespace="http://www.sample.org/266" schemaLocation=".\sample266.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>