tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample203.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/203" xmlns:tns="http://www.sample.org/203">
<import namespace="http://www.sample.org/994" schemaLocation="sample994.xsd"/><import namespace="http://www.sample.org/378" schemaLocation="./sample378.xsd"/><import namespace="http://www.sample.org/716" schemaLocation=".\sample716.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>