tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample275.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/275" xmlns:tns="http://www.sample.org/275">
<import namespace="http://www.sample.org/795" schemaLocation="sample795.xsd"/><import namespace="http://www.sample.org/345" schemaLocation="./sample345.xsd"/><import namespace="http://www.sample.org/536" schemaLocation=".\sample536.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>