tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample138.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/138" xmlns:tns="http://www.sample.org/138">
<import namespace="http://www.sample.org/896" schemaLocation="sample896.xsd"/><import namespace="http://www.sample.org/73" schemaLocation="./sample73.xsd"/><import namespace="http://www.sample.org/256" schemaLocation=".\sample256.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>