tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample512.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/512" xmlns:tns="http://www.sample.org/512">
<import namespace="http://www.sample.org/720" schemaLocation="sample720.xsd"/><import namespace="http://www.sample.org/539" schemaLocation="./sample539.xsd"/><import namespace="http://www.sample.org/469" schemaLocation=".\sample469.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>