tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample692.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/692" xmlns:tns="http://www.sample.org/692">
<import namespace="http://www.sample.org/282" schemaLocation="sample282.xsd"/><import namespace="http://www.sample.org/75" schemaLocation="./sample75.xsd"/><import namespace="http://www.sample.org/62" schemaLocation=".\sample62.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>