tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample294.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/294" xmlns:tns="http://www.sample.org/294">
<import namespace="http://www.sample.org/317" schemaLocation="sample317.xsd"/><import namespace="http://www.sample.org/514" schemaLocation="./sample514.xsd"/><import namespace="http://www.sample.org/422" schemaLocation=".\sample422.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>