tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample892.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/892" xmlns:tns="http://www.sample.org/892">
<import namespace="http://www.sample.org/196" schemaLocation="sample196.xsd"/><import namespace="http://www.sample.org/282" schemaLocation="./sample282.xsd"/><import namespace="http://www.sample.org/896" schemaLocation=".\sample896.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>