tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample822.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/822" xmlns:tns="http://www.sample.org/822">
<import namespace="http://www.sample.org/489" schemaLocation="sample489.xsd"/><import namespace="http://www.sample.org/275" schemaLocation="./sample275.xsd"/><import namespace="http://www.sample.org/5" schemaLocation=".\sample5.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>