tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample978.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/978" xmlns:tns="http://www.sample.org/978">
<import namespace="http://www.sample.org/876" schemaLocation="sample876.xsd"/><import namespace="http://www.sample.org/284" schemaLocation="./sample284.xsd"/><import namespace="http://www.sample.org/86" schemaLocation=".\sample86.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>