tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample554.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/554" xmlns:tns="http://www.sample.org/554">
<import namespace="http://www.sample.org/700" schemaLocation="sample700.xsd"/><import namespace="http://www.sample.org/725" schemaLocation="./sample725.xsd"/><import namespace="http://www.sample.org/787" schemaLocation=".\sample787.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>