tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample925.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/925" xmlns:tns="http://www.sample.org/925">
<import namespace="http://www.sample.org/745" schemaLocation="sample745.xsd"/><import namespace="http://www.sample.org/446" schemaLocation="./sample446.xsd"/><import namespace="http://www.sample.org/715" schemaLocation=".\sample715.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>