tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/71" xmlns:tns="http://www.sample.org/71">
<import namespace="http://www.sample.org/900" schemaLocation="sample900.xsd"/><import namespace="http://www.sample.org/800" schemaLocation="./sample800.xsd"/><import namespace="http://www.sample.org/811" schemaLocation=".\sample811.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>