tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample537.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/537" xmlns:tns="http://www.sample.org/537">
<import namespace="http://www.sample.org/794" schemaLocation="sample794.xsd"/><import namespace="http://www.sample.org/842" schemaLocation="./sample842.xsd"/><import namespace="http://www.sample.org/541" schemaLocation=".\sample541.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>