tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample323.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/323" xmlns:tns="http://www.sample.org/323">
<import namespace="http://www.sample.org/247" schemaLocation="sample247.xsd"/><import namespace="http://www.sample.org/789" schemaLocation="./sample789.xsd"/><import namespace="http://www.sample.org/136" schemaLocation=".\sample136.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>