tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample595.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/595" xmlns:tns="http://www.sample.org/595">
<import namespace="http://www.sample.org/293" schemaLocation="sample293.xsd"/><import namespace="http://www.sample.org/841" schemaLocation="./sample841.xsd"/><import namespace="http://www.sample.org/123" schemaLocation=".\sample123.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>