tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample367.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/367" xmlns:tns="http://www.sample.org/367">
<import namespace="http://www.sample.org/314" schemaLocation="sample314.xsd"/><import namespace="http://www.sample.org/382" schemaLocation="./sample382.xsd"/><import namespace="http://www.sample.org/169" schemaLocation=".\sample169.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>