tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample145.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/145" xmlns:tns="http://www.sample.org/145">
<import namespace="http://www.sample.org/287" schemaLocation="sample287.xsd"/><import namespace="http://www.sample.org/502" schemaLocation="./sample502.xsd"/><import namespace="http://www.sample.org/651" schemaLocation=".\sample651.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>