tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample127.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/127" xmlns:tns="http://www.sample.org/127">
<import namespace="http://www.sample.org/30" schemaLocation="sample30.xsd"/><import namespace="http://www.sample.org/565" schemaLocation="./sample565.xsd"/><import namespace="http://www.sample.org/698" schemaLocation=".\sample698.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>