tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample287.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/287" xmlns:tns="http://www.sample.org/287">
<import namespace="http://www.sample.org/877" schemaLocation="sample877.xsd"/><import namespace="http://www.sample.org/519" schemaLocation="./sample519.xsd"/><import namespace="http://www.sample.org/555" schemaLocation=".\sample555.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>