tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample768.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/768" xmlns:tns="http://www.sample.org/768">
<import namespace="http://www.sample.org/622" schemaLocation="sample622.xsd"/><import namespace="http://www.sample.org/902" schemaLocation="./sample902.xsd"/><import namespace="http://www.sample.org/52" schemaLocation=".\sample52.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>