tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample382.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/382" xmlns:tns="http://www.sample.org/382">
<import namespace="http://www.sample.org/965" schemaLocation="sample965.xsd"/><import namespace="http://www.sample.org/659" schemaLocation="./sample659.xsd"/><import namespace="http://www.sample.org/438" schemaLocation=".\sample438.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>