tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample76.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/76" xmlns:tns="http://www.sample.org/76">
<import namespace="http://www.sample.org/697" schemaLocation="sample697.xsd"/><import namespace="http://www.sample.org/62" schemaLocation="./sample62.xsd"/><import namespace="http://www.sample.org/583" schemaLocation=".\sample583.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>