tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample423.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/423" xmlns:tns="http://www.sample.org/423">
<import namespace="http://www.sample.org/629" schemaLocation="sample629.xsd"/><import namespace="http://www.sample.org/788" schemaLocation="./sample788.xsd"/><import namespace="http://www.sample.org/478" schemaLocation=".\sample478.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>