tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample474.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/474" xmlns:tns="http://www.sample.org/474">
<import namespace="http://www.sample.org/158" schemaLocation="sample158.xsd"/><import namespace="http://www.sample.org/614" schemaLocation="./sample614.xsd"/><import namespace="http://www.sample.org/370" schemaLocation=".\sample370.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>