tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample487.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/487" xmlns:tns="http://www.sample.org/487">
<import namespace="http://www.sample.org/784" schemaLocation="sample784.xsd"/><import namespace="http://www.sample.org/20" schemaLocation="./sample20.xsd"/><import namespace="http://www.sample.org/405" schemaLocation=".\sample405.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>