tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample472.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/472" xmlns:tns="http://www.sample.org/472">
<import namespace="http://www.sample.org/247" schemaLocation="sample247.xsd"/><import namespace="http://www.sample.org/1" schemaLocation="./sample1.xsd"/><import namespace="http://www.sample.org/453" schemaLocation=".\sample453.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>