tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample416.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/416" xmlns:tns="http://www.sample.org/416">
<import namespace="http://www.sample.org/455" schemaLocation="sample455.xsd"/><import namespace="http://www.sample.org/833" schemaLocation="./sample833.xsd"/><import namespace="http://www.sample.org/503" schemaLocation=".\sample503.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>