tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample812.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/812" xmlns:tns="http://www.sample.org/812">
<import namespace="http://www.sample.org/626" schemaLocation="sample626.xsd"/><import namespace="http://www.sample.org/785" schemaLocation="./sample785.xsd"/><import namespace="http://www.sample.org/742" schemaLocation=".\sample742.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>