tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample322.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/322" xmlns:tns="http://www.sample.org/322">
<import namespace="http://www.sample.org/561" schemaLocation="sample561.xsd"/><import namespace="http://www.sample.org/207" schemaLocation="./sample207.xsd"/><import namespace="http://www.sample.org/151" schemaLocation=".\sample151.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>