tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample329.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/329" xmlns:tns="http://www.sample.org/329">
<import namespace="http://www.sample.org/888" schemaLocation="sample888.xsd"/><import namespace="http://www.sample.org/239" schemaLocation="./sample239.xsd"/><import namespace="http://www.sample.org/324" schemaLocation=".\sample324.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>