tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample549.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/549" xmlns:tns="http://www.sample.org/549">
<import namespace="http://www.sample.org/485" schemaLocation="sample485.xsd"/><import namespace="http://www.sample.org/28" schemaLocation="./sample28.xsd"/><import namespace="http://www.sample.org/390" schemaLocation=".\sample390.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>