tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample220.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/220" xmlns:tns="http://www.sample.org/220">
<import namespace="http://www.sample.org/699" schemaLocation="sample699.xsd"/><import namespace="http://www.sample.org/578" schemaLocation="./sample578.xsd"/><import namespace="http://www.sample.org/760" schemaLocation=".\sample760.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>