tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/100" xmlns:tns="http://www.sample.org/100">
<import namespace="http://www.sample.org/165" schemaLocation="sample165.xsd"/><import namespace="http://www.sample.org/35" schemaLocation="./sample35.xsd"/><import namespace="http://www.sample.org/902" schemaLocation=".\sample902.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>