tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample936.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/936" xmlns:tns="http://www.sample.org/936">
<import namespace="http://www.sample.org/222" schemaLocation="sample222.xsd"/><import namespace="http://www.sample.org/112" schemaLocation="./sample112.xsd"/><import namespace="http://www.sample.org/872" schemaLocation=".\sample872.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>