tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample163.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/163" xmlns:tns="http://www.sample.org/163">
<import namespace="http://www.sample.org/991" schemaLocation="sample991.xsd"/><import namespace="http://www.sample.org/649" schemaLocation="./sample649.xsd"/><import namespace="http://www.sample.org/699" schemaLocation=".\sample699.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>