tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample926.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/926" xmlns:tns="http://www.sample.org/926">
<import namespace="http://www.sample.org/510" schemaLocation="sample510.xsd"/><import namespace="http://www.sample.org/692" schemaLocation="./sample692.xsd"/><import namespace="http://www.sample.org/730" schemaLocation=".\sample730.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>