tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample584.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/584" xmlns:tns="http://www.sample.org/584">
<import namespace="http://www.sample.org/924" schemaLocation="sample924.xsd"/><import namespace="http://www.sample.org/817" schemaLocation="./sample817.xsd"/><import namespace="http://www.sample.org/820" schemaLocation=".\sample820.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>