tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample402.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/402" xmlns:tns="http://www.sample.org/402">
<import namespace="http://www.sample.org/178" schemaLocation="sample178.xsd"/><import namespace="http://www.sample.org/387" schemaLocation="./sample387.xsd"/><import namespace="http://www.sample.org/769" schemaLocation=".\sample769.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>