tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample58.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/58" xmlns:tns="http://www.sample.org/58">
<import namespace="http://www.sample.org/395" schemaLocation="sample395.xsd"/><import namespace="http://www.sample.org/376" schemaLocation="./sample376.xsd"/><import namespace="http://www.sample.org/157" schemaLocation=".\sample157.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>