tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample762.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/762" xmlns:tns="http://www.sample.org/762">
<import namespace="http://www.sample.org/652" schemaLocation="sample652.xsd"/><import namespace="http://www.sample.org/858" schemaLocation="./sample858.xsd"/><import namespace="http://www.sample.org/858" schemaLocation=".\sample858.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>