tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample782.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/782" xmlns:tns="http://www.sample.org/782">
<import namespace="http://www.sample.org/573" schemaLocation="sample573.xsd"/><import namespace="http://www.sample.org/965" schemaLocation="./sample965.xsd"/><import namespace="http://www.sample.org/153" schemaLocation=".\sample153.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>