tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample719.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/719" xmlns:tns="http://www.sample.org/719">
<import namespace="http://www.sample.org/261" schemaLocation="sample261.xsd"/><import namespace="http://www.sample.org/262" schemaLocation="./sample262.xsd"/><import namespace="http://www.sample.org/262" schemaLocation=".\sample262.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>