tests/org.eclipse.wst.xsd.tests.performance/data/1000XSDsCrossDepends/sample820.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/820" xmlns:tns="http://www.sample.org/820">
<import namespace="http://www.sample.org/883" schemaLocation="sample883.xsd"/><import namespace="http://www.sample.org/223" schemaLocation="./sample223.xsd"/><import namespace="http://www.sample.org/926" schemaLocation=".\sample926.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>