tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample74.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/74" xmlns:tns="http://www.sample.org/74">
<import namespace="http://www.sample.org/3" schemaLocation="sample3.xsd"/><import namespace="http://www.sample.org/91" schemaLocation="./sample91.xsd"/><import namespace="http://www.sample.org/10" schemaLocation=".\sample10.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>