tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/6" xmlns:tns="http://www.sample.org/6">
<import namespace="http://www.sample.org/93" schemaLocation="sample93.xsd"/><import namespace="http://www.sample.org/61" schemaLocation="./sample61.xsd"/><import namespace="http://www.sample.org/13" schemaLocation=".\sample13.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>