tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample84.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/84" xmlns:tns="http://www.sample.org/84">
<import namespace="http://www.sample.org/4" schemaLocation="sample4.xsd"/><import namespace="http://www.sample.org/46" schemaLocation="./sample46.xsd"/><import namespace="http://www.sample.org/53" schemaLocation=".\sample53.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>