tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample99.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/99" xmlns:tns="http://www.sample.org/99">
<import namespace="http://www.sample.org/27" schemaLocation="sample27.xsd"/><import namespace="http://www.sample.org/40" schemaLocation="./sample40.xsd"/><import namespace="http://www.sample.org/7" schemaLocation=".\sample7.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>