tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/71" xmlns:tns="http://www.sample.org/71">
<import namespace="http://www.sample.org/12" schemaLocation="sample12.xsd"/><import namespace="http://www.sample.org/9" schemaLocation="./sample9.xsd"/><import namespace="http://www.sample.org/88" schemaLocation=".\sample88.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>