tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample96.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/96" xmlns:tns="http://www.sample.org/96">
<import namespace="http://www.sample.org/75" schemaLocation="sample75.xsd"/><import namespace="http://www.sample.org/76" schemaLocation="./sample76.xsd"/><import namespace="http://www.sample.org/38" schemaLocation=".\sample38.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>