tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/28" xmlns:tns="http://www.sample.org/28">
<import namespace="http://www.sample.org/88" schemaLocation="sample88.xsd"/><import namespace="http://www.sample.org/22" schemaLocation="./sample22.xsd"/><import namespace="http://www.sample.org/23" schemaLocation=".\sample23.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>