tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/30" xmlns:tns="http://www.sample.org/30">
<import namespace="http://www.sample.org/94" schemaLocation="sample94.xsd"/><import namespace="http://www.sample.org/47" schemaLocation="./sample47.xsd"/><import namespace="http://www.sample.org/81" schemaLocation=".\sample81.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>