tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample70.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/70" xmlns:tns="http://www.sample.org/70">
<import namespace="http://www.sample.org/89" schemaLocation="sample89.xsd"/><import namespace="http://www.sample.org/33" schemaLocation="./sample33.xsd"/><import namespace="http://www.sample.org/24" schemaLocation=".\sample24.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>