tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample91.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/91" xmlns:tns="http://www.sample.org/91">
<import namespace="http://www.sample.org/19" schemaLocation="sample19.xsd"/><import namespace="http://www.sample.org/72" schemaLocation="./sample72.xsd"/><import namespace="http://www.sample.org/80" schemaLocation=".\sample80.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>