tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample85.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/85" xmlns:tns="http://www.sample.org/85">
<import namespace="http://www.sample.org/57" schemaLocation="sample57.xsd"/><import namespace="http://www.sample.org/66" schemaLocation="./sample66.xsd"/><import namespace="http://www.sample.org/12" schemaLocation=".\sample12.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>