tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/11" xmlns:tns="http://www.sample.org/11">
<import namespace="http://www.sample.org/22" schemaLocation="sample22.xsd"/><import namespace="http://www.sample.org/65" schemaLocation="./sample65.xsd"/><import namespace="http://www.sample.org/76" schemaLocation=".\sample76.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>