tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample77.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/77" xmlns:tns="http://www.sample.org/77">
<import namespace="http://www.sample.org/44" schemaLocation="sample44.xsd"/><import namespace="http://www.sample.org/54" schemaLocation="./sample54.xsd"/><import namespace="http://www.sample.org/32" schemaLocation=".\sample32.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>