tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample26.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/26" xmlns:tns="http://www.sample.org/26">
<import namespace="http://www.sample.org/5" schemaLocation="sample5.xsd"/><import namespace="http://www.sample.org/25" schemaLocation="./sample25.xsd"/><import namespace="http://www.sample.org/56" schemaLocation=".\sample56.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>