tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample75.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/75" xmlns:tns="http://www.sample.org/75">
<import namespace="http://www.sample.org/4" schemaLocation="sample4.xsd"/><import namespace="http://www.sample.org/89" schemaLocation="./sample89.xsd"/><import namespace="http://www.sample.org/73" schemaLocation=".\sample73.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>