tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample95.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/95" xmlns:tns="http://www.sample.org/95">
<import namespace="http://www.sample.org/45" schemaLocation="sample45.xsd"/><import namespace="http://www.sample.org/59" schemaLocation="./sample59.xsd"/><import namespace="http://www.sample.org/94" schemaLocation=".\sample94.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>