tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample39.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/39" xmlns:tns="http://www.sample.org/39">
<import namespace="http://www.sample.org/62" schemaLocation="sample62.xsd"/><import namespace="http://www.sample.org/30" schemaLocation="./sample30.xsd"/><import namespace="http://www.sample.org/92" schemaLocation=".\sample92.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>