tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample88.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/88" xmlns:tns="http://www.sample.org/88">
<import namespace="http://www.sample.org/33" schemaLocation="sample33.xsd"/><import namespace="http://www.sample.org/50" schemaLocation="./sample50.xsd"/><import namespace="http://www.sample.org/97" schemaLocation=".\sample97.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>