tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample41.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/41" xmlns:tns="http://www.sample.org/41">
<import namespace="http://www.sample.org/93" schemaLocation="sample93.xsd"/><import namespace="http://www.sample.org/72" schemaLocation="./sample72.xsd"/><import namespace="http://www.sample.org/60" schemaLocation=".\sample60.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>