tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample33.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/33" xmlns:tns="http://www.sample.org/33">
<import namespace="http://www.sample.org/37" schemaLocation="sample37.xsd"/><import namespace="http://www.sample.org/30" schemaLocation="./sample30.xsd"/><import namespace="http://www.sample.org/99" schemaLocation=".\sample99.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>