tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample54.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/54" xmlns:tns="http://www.sample.org/54">
<import namespace="http://www.sample.org/23" schemaLocation="sample23.xsd"/><import namespace="http://www.sample.org/81" schemaLocation="./sample81.xsd"/><import namespace="http://www.sample.org/35" schemaLocation=".\sample35.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>