tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample69.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/69" xmlns:tns="http://www.sample.org/69">
<import namespace="http://www.sample.org/63" schemaLocation="sample63.xsd"/><import namespace="http://www.sample.org/15" schemaLocation="./sample15.xsd"/><import namespace="http://www.sample.org/97" schemaLocation=".\sample97.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>