tests/org.eclipse.wst.xsd.tests.performance/data/100XSDsCrossDepends/sample31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/31" xmlns:tns="http://www.sample.org/31">
<import namespace="http://www.sample.org/47" schemaLocation="sample47.xsd"/><import namespace="http://www.sample.org/54" schemaLocation="./sample54.xsd"/><import namespace="http://www.sample.org/26" schemaLocation=".\sample26.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>